﻿<!DOCTYPE html>
<html lang="ar">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="csrf-token" content="kjGpoiOoKS3GlRstc7PyxxvoZTXmvxxFp3LV2p3z">
    <meta name="app-version" content="v1.6.6">
    <meta name="app-jscdn" content="https://static.neris-assets.com/">
    <meta name="app-bs-uid" content="0">
    <meta name="api-token" content="">
    <meta name="app-locale" content="ar">


    <meta property="og:site_name" content="16Personalities">
    <meta property="og:url" content="https://www.16personalities.com/ar/%d8%b4%d8%ae%d8%b5%d9%8a%d8%a9-enfj">
    <meta property="og:image" content="https://static.neris-assets.com/images/personality-types/headers/fb/enfj-personality-type-header.png">


    <title>


        &#x202b;
        شخصية “البطل” (ENFJ)
        &#x202d;16Personalities |
    </title>


    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-16x16.png" sizes="16x16">


    <link rel="stylesheet" href="https://static.neris-assets.com/css/main-core--99ec58.css">
    <link rel="stylesheet" href="/css/fonts--141580.css">


    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome--0d9504.css">

    <link rel="stylesheet" href="https://static.neris-assets.com/css/international--7d8ef5.css">

    <link href="https://static.neris-assets.com/css/large--e595d2.css" rel="stylesheet" media="screen and (min-width: 768px)">
    <link href="https://static.neris-assets.com/css/print--cfa4bb.css" rel="stylesheet" media="print">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic&subset=latin,cyrillic,greek,latin-ext&display=swap' rel='stylesheet' type='text/css'>

    <link rel="canonical" href="https://www.16personalities.com/ar/%D8%B4%D8%AE%D8%B5%D9%8A%D8%A9-enfj">



    <link rel="alternate" hreflang="en" href="https://www.16personalities.com/enfj-personality">




    <script>

    (function(w,d,n){w.jscdn=function(){return(d.head.querySelector('meta[name="'+n+'"]')||{}).content||'/'}}(window,document,'app-jscdn'))

    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

    ga('create', 'UA-27031617-1', 'auto');
    ga('set', 'anonymizeIp', true);

    </script>

    <script async src='https://www.google-analytics.com/analytics.js'></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7YT1C03C8C"></script>

    <script>

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7YT1C03C8C', { 'anonymize_ip': true });

    </script>



    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    <script>
    function toggleMobileMenu(){document.getElementById('mobile-menu').style.display='flex'===document.getElementById('mobile-menu').style.display?'none':'flex'}
    </script>



</head>

<body role="document" class="">

    <div class="main-wrapper int ar" id="main-app">

        <div class="navbar">



            <nav class="middle-section" style="font-size:20px;color:blue;font-family:'Times New Roman', Times, serif;text-align:center">

                <div> Know about yourself more than you knew</div>

            </nav>

            <div class="right-section">

            </div>

            <nav-mobile-toggle class=""></nav-mobile-toggle>
            <nav-mobile id="mobile-menu">
                <div class="menu">

                    <div class="part one padded">

                    </div>

                    <div class="part two">


                    </div>

                    <div class="part three padded">
                        <a class="btn btn-action-2" href="https://www.16personalities.com">English version</a>
                    </div>

                </div>
            </nav-mobile>

        </div>
        <main class="q-td diplomat protagonist">


            <header class="type-header diplomat protagonist">

                <svg class="background" viewBox="0 0 1920 600" preserveAspectRatio="none"><path class="st0" d="M400 598.9l1520-152.8v164.4H0v-288z"></path><path class="st1" d="M923.4 546.3l996.6-97.4V1.5h-851z"></path></svg>
                <img class="scene" src="https://static.neris-assets.com/images/personality-types/headers/diplomats_Protagonist_ENFJ_personality_header.svg">
                <div class="type-info">

                    <h1>
                        شخصية <span>البطل</span>
                    </h1>

                    <div class="code">ENFJ-A / ENFJ-T</div>
                </div>

            </header>


            <div class="with-sidebars">


                <article class="main description">

                    <h1>
                        شخصية “البطل”
                    </h1>

                    <blockquote>
                        <p>“كل شيء تفعله الآن يموج للخارج ويؤثر على الجميع. وقفتك يمكن أن تضئ قلبك أو تنشر القلق. أنفاسك يمكن أن تشع الحب أو تعكر الغرفة بالاكتئاب. وهالتك يمكن أن توقظ الفرح. وكلماتك يمكن أن تلهم الحرية. كل فعل تفعله يمكن أن يفتح القلوب والعقول.”</p>
                        <footer>David Deida</footer>
                    </blockquote>
                    <p>شخصيات ENFJ هم قادة بالفطرة، مفعمون بالعاطفة والكاريزما. وهم يشكلون حوالي اثنين في المئة من البشر، وهم في كثير من الأحيان يعملون بالسياسة أو مدربين أو معلمين، يتواصلون مع الآخرين ويلهمونهم لتحقيق وفعل الخير في العالم. بالثقة الطبيعية لديهم التي تولد النفوذ، فإن شخصيات ENFJ تتمتع بقدر كبير من الفخر والفرح عند توجيه الآخرين للعمل معاً لتحسين أنفسهم ومجتمعهم.</p>
                    <div class="scene">
                        <img alt="شخصية “البطل” (ENFJ-A / ENFJ-T)" src="https://static.neris-assets.com/images/personality-types/scenes/diplomats_Protagonist_ENFJ_introduction.svg?v=1">
                    </div>
                    <h2>لديهم إيمان راسخ في الناس</h2>
                    <p>يلتف الناس حول الشخصيات القوية، وشخصيات ENFJ تشع أصالة، واهتماماً وإيثاراً، ولا يخشون من الوقوف والتحدث عندما يشعرون أن شيئاً ما يحتاج إلى أن يقال. ويجدون أن التواصل مع الآخرين أمر طبيعي وسهل، وخاصة بشخصهم، ولهم سمة الحدس (N) التي تساعد الناس من نوع شخصية ENFJ للوصول إلى كل عقل، سواء كان ذلك من خلال الحقائق والمنطق أو العاطفة المطلقة. شخصيات ENFJ ترى بسهولة دوافع الناس والأحداث التي تبدو غير مترابطة، وتكون قادرة على ربط هذه الأفكار معاً وجعلها هدف مشترك ببلاغة أقرب إلى الفتنة.</p>
                    <p>واهتمام شخصيات ENFJ بالآخرين حقيقي، وقد يقودهم إلى الخطأ – فعندما يؤمنون بشخص ما، فإنهم فد يندمجون معه في مشاكله الشخصية ويضعون الكثير من الثقة فيهم. ولحسن الحظ، فهذه الثقة تميل إلى أن تكون نبوءة تحقق ذاتها، لأن إيثار شخصيات ENFJ وأصالتهم تلهم أولئك الذين يسعون لتحسين أنفسهم. ولكن إذا لم يكونوا حذرين، فإنهم قد يبالغوا في تفاؤلهم، بحيث يدفعون الآخرين إلى أبعد من قدراتهم أواستعداداتهم.</p>
                    <p>وشخصيات ENFJ عرضة لكمين الآخرين أيضاً: فلديهم قدرة هائلة لإظهار وتحليل مشاعرهم الخاصة، ولكن إذا استغرقتهم محنة شخص آخر بعمق، فقد يتولد لديهم نوع من الوسواس العاطفي، حيث يرون مشاكل الآخرين في أنفسهم، فيحاولون إصلاح شيء في ذاتهم ليس فيه عيب أساساً. وإذا وصولوا إلى نقطة يتم احتجازهم فيها بواسطة قيود شخص آخر يعاني، فإن ذلك يمكن أن يعيق قدرة شخصيات ENFJ على رؤية ما هو أبعد من المعضلة فيصبحوا غير قادربن على مساعدة هذا الشخص الآخر. وعندما يحدث ذلك، فإنه من المهم بالنسبة لشخصيات ENFJ التراجع واستخدام التأمل الذاتي للتمييز بين ما يشعرون حقاً، وما هو قضية منفصلة تحتاج إلى النظر إليها من منظور آخر.</p>
                    <h2>...النضال لا يجب أن يمنعنا من دعم قضية نعتقد أنها الحق</h2>
                    <blockquote class="no-footer"><p>شخصيات ENFJ شخصيات أصيلة، مهتمون وصادقون فيما يفعلون، وليس هناك ما يجعلهم أكثر سعادة من إحداث التغيير، وتوحيد وتحفيز فريقهم بحماس معدي.</p></blockquote>
                    <p>الناس مع نوع شخصية ENFJ هم المؤثرون عاطفياً، حتى لو على خطأ، وليس من المرجح أن يخافوا من تلقي السهام دعماً منهم للأشخاص والأفكار التي يؤمنون بها. فليس من المستغرب أن العديد من شخصيات ENFJ الشهيرة هم من رؤساء الولايات المتحدة – فهذا النوع من الشخصية يريد أن يقود الطريق إلى مستقبل أكثر إشراقاً، سواء كان ذلك من خلال قيادة أمة إلى الازدهار، أو قيادة فريق صغير في دوري الكرة للانتصار بشق الأنفس.</p>


                </article>


            </div>

            <div class="navigation-buttons comp">

                <div class="part left">
                </div>
                <div class="part right">


                </div>

            </div>

            <div class="celebrities" v-cloak>

                <h2>شخصيات ENFJ الشهيرة:</h2>

                <app-carousel data-chunk="type-chunk"
                              class="celebrities-wrapper"
                              :celebrities="[{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_barack_obama.svg?v=5&quot;,&quot;name&quot;:&quot;Barack Obama&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_oprah_winfrey.svg?v=5&quot;,&quot;name&quot;:&quot;Oprah Winfrey&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_john_cusack.svg?v=5&quot;,&quot;name&quot;:&quot;John Cusack&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_ben_affleck.svg?v=5&quot;,&quot;name&quot;:&quot;Ben Affleck&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_malala_yousafzai.svg?v=5&quot;,&quot;name&quot;:&quot;Malala Yousafzai&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:&quot;\/articles\/malala-the-protagonist-the-personality-of-the-youngest-nobel-peace-prize-winner&quot;},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_sean_connery.svg?v=5&quot;,&quot;name&quot;:&quot;Sean Connery&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_jennifer_lawrence.svg?v=5&quot;,&quot;name&quot;:&quot;Jennifer Lawrence&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_maya_angelou.svg?v=5&quot;,&quot;name&quot;:&quot;Maya Angelou&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:&quot;\/articles\/never-a-caged-bird-maya-angelou-a-protagonist&quot;},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_daenerys_targaryen_game_of_thrones.svg?v=5&quot;,&quot;name&quot;:&quot;Daenerys Targaryen&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Game of Thrones&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_morpheus_the_matrix.svg?v=5&quot;,&quot;name&quot;:&quot;Morpheus&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;The Matrix&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_elizabeth_bennet_pride_and_prejudice.svg?v=5&quot;,&quot;name&quot;:&quot;Elizabeth Bennet&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Pride and Prejudice&quot;,&quot;article&quot;:&quot;\/articles\/the-big-reveal-elizabeth-bennets-personality-type&quot;},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_the_oracle_the_matrix.svg?v=5&quot;,&quot;name&quot;:&quot;The Oracle&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;The Matrix&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_skyler_white_breaking_bad.svg?v=5&quot;,&quot;name&quot;:&quot;Skyler White&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Breaking Bad&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_laurel_lance_arrow.svg?v=5&quot;,&quot;name&quot;:&quot;Laurel Lance&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Arrow&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_isobel_crawley_downtown_abbey.svg?v=5&quot;,&quot;name&quot;:&quot;Isobel Crawley&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Downton Abbey&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFJ_seeley_booth_bones.svg?v=5&quot;,&quot;name&quot;:&quot;Seeley Booth&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Bones&quot;,&quot;article&quot;:null}]"
                              :rtl="true"
                              :international="true"
                              personality-type="ENFJ"
                              v-cloak>
                </app-carousel>

            </div>

            <div class="social-cta comp" data-chunk="social-chunk">
                <div class="wrapper">
                    <div class="social-count">
                        <div class="number">15K</div>
                    </div>
                    <div class="social-icons">


                        <share-facebook ga-event="Description" page="شخصية-enfj" record></share-facebook>

                        <share-twitter ga-event="Description" page="شخصية-enfj" text="شخصية “البطل”" record></share-twitter>

                        <share-pinterest ga-event="Description" page="شخصية-enfj" text="شخصية “البطل”" record></share-pinterest>

                        <share-whatsapp ga-event="Description" page="شخصية-enfj" text="شخصية “البطل”" record></share-whatsapp>

                        <share-messenger ga-event="Description" page="شخصية-enfj" record></share-messenger>

                        <share-email ga-event="Description" page="شخصية-enfj" record></share-email>
                    </div>
                </div>
            </div>


        </main>

        <div class="push"></div>

    </div>

    <script src="https://static.neris-assets.com/js/manifest--4b2551.js"></script>
    <script src="https://static.neris-assets.com/js/vendor--c86d28.js"></script>
    <script src="https://static.neris-assets.com/js/app--eba29b.js"></script>

    <script src="https://static.neris-assets.com/js/vendor-polyfills--bf70b4.js"></script>







    <script>


            ga('send', 'pageview', {
                'dimension11': 'ar'
            });


        gtag('set', 'user_properties', {
            locale    : 'ar',
            authStatus: 'has-results'
        });

    </script>




</body>
</html>

