﻿<!DOCTYPE html>
<html lang="ar">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="csrf-token" content="kjGpoiOoKS3GlRstc7PyxxvoZTXmvxxFp3LV2p3z">
    <meta name="app-version" content="v1.6.6">
    <meta name="app-jscdn" content="https://static.neris-assets.com/">
    <meta name="app-bs-uid" content="0">
    <meta name="api-token" content="">
    <meta name="app-locale" content="ar">


    <meta property="og:site_name" content="16Personalities">
    <meta property="og:url" content="https://www.16personalities.com/ar/%d8%b4%d8%ae%d8%b5%d9%8a%d8%a9-enfp">
    <meta property="og:image" content="https://static.neris-assets.com/images/personality-types/headers/fb/enfp-personality-type-header.png">


    <title>


        &#x202b;
        شخصية “المناضل” (ENFP)
        &#x202d;16Personalities |
    </title>


    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-16x16.png" sizes="16x16">


    <link rel="stylesheet" href="https://static.neris-assets.com/css/main-core--99ec58.css">
    <link rel="stylesheet" href="/css/fonts--141580.css">


    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome--0d9504.css">

    <link rel="stylesheet" href="https://static.neris-assets.com/css/international--7d8ef5.css">

    <link href="https://static.neris-assets.com/css/large--e595d2.css" rel="stylesheet" media="screen and (min-width: 768px)">
    <link href="https://static.neris-assets.com/css/print--cfa4bb.css" rel="stylesheet" media="print">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic&subset=latin,cyrillic,greek,latin-ext&display=swap' rel='stylesheet' type='text/css'>

    <link rel="canonical" href="https://www.16personalities.com/ar/%D8%B4%D8%AE%D8%B5%D9%8A%D8%A9-enfp">



    <link rel="alternate" hreflang="en" href="https://www.16personalities.com/enfp-personality">



    <script>

    (function(w,d,n){w.jscdn=function(){return(d.head.querySelector('meta[name="'+n+'"]')||{}).content||'/'}}(window,document,'app-jscdn'))

    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

    ga('create', 'UA-27031617-1', 'auto');
    ga('set', 'anonymizeIp', true);

    </script>

    <script async src='https://www.google-analytics.com/analytics.js'></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7YT1C03C8C"></script>

    <script>

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7YT1C03C8C', { 'anonymize_ip': true });

    </script>



    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    <script>
    function toggleMobileMenu(){document.getElementById('mobile-menu').style.display='flex'===document.getElementById('mobile-menu').style.display?'none':'flex'}
    </script>


</head>

<body role="document" class="">

    <div class="main-wrapper int ar" id="main-app">

        <div class="navbar">



            <nav class="middle-section" style="font-size:20px;color:blue;font-family:'Times New Roman', Times, serif;text-align:center">

                <div> Know about yourself more than you knew</div>

            </nav>

            <div class="right-section">

            </div>

            <nav-mobile-toggle class=""></nav-mobile-toggle>
            <nav-mobile id="mobile-menu">
                <div class="menu">

                    <div class="part one padded">

                    </div>

                    <div class="part two">

                    </div>



                </div>
            </nav-mobile>

        </div>
        <main class="q-td diplomat campaigner">


            <header class="type-header diplomat campaigner">

                <svg class="background" viewBox="0 0 1920 600" preserveAspectRatio="none"><path class="st0" d="M400 598.9l1520-152.8v164.4H0v-288z"></path><path class="st1" d="M923.4 546.3l996.6-97.4V1.5h-851z"></path></svg>
                <img class="scene" src="https://static.neris-assets.com/images/personality-types/headers/diplomats_Campaigner_ENFP_personality_header.svg">
                <div class="type-info">

                    <h1>
                        شخصية <span>المناضل</span>
                    </h1>

                    <div class="code">ENFP-A / ENFP-T</div>
                </div>

            </header>


            <div class="with-sidebars">


                <article class="main description">

                    <h1>
                        شخصية “المناضل”
                    </h1>

                    <blockquote>
                        <p>لا يعنيني ما تفعله من أجل لقمة العيش. أريد أن أعرف ما يوجعك – وإذا كنت تجرؤ على أن تحلم بتلبية شوق قلبك. لا يعنيني ما عمرك. أريد أن أعرف ما إذا كنت سوف تخاطر بأن تبدو وكأنك معتوه – من أجل الحب – من أجل أحلامك – من أجل مغامرة البقاء على قيد الحياة. </p>
                        <footer>Oriah Mountain Dreamer</footer>
                    </blockquote>
                    <p>شخصية المناضل هي بحق روح حرة. وهي غالباً ما تكون روح أي حفلة تشارك فيها، ولكنها أقل اهتماماً بالإثارة والمتعة اللحظية المحضة بل تهتم بالتمتع بالصلات الاجتماعية والعاطفية التي يقومون بها مع الآخرين. وهي شخصية ساحرة مستقلة حيوية ورحيمة، والمتمتعين بها يشكلون 7٪ من البشر، ولذا ستلاحظهم بالتأكيد في أي تجمع بشري.</p>
                    <div class="scene">
                        <img alt="شخصية “المناضل” (ENFP-A / ENFP-T)" src="https://static.neris-assets.com/images/personality-types/scenes/diplomats_Campaigner_ENFP_introduction.svg?v=1">
                    </div>
                    <h2>يمكنك تغيير العالم بمجرد فكرة</h2>
                    <p>شخصيات المناضلين أكثر من مجرد شخصيات اجتماعية مؤنسة للناس، فهم مشكَّلون بطبيعتهم الحالمة، مما يسمح لهم بقراءة ما بين السطور بفضول وطاقة مفعمة. انهم يميلون لرؤية الحياة كلغز معقد كبير حيث كل شيء متصل بالآخر – لكن على عكس نوع شخصية المحللين الذين يميلون لرؤية هذا اللغز على شكل سلسلة من المكائد النظامية، فإن المناضلين يرون ذلك من خلال منشور من العاطفة والشفقة والتصوف، ويبحثون دائمًا عن المعنى الأعمق.</p>
                    <blockquote class="no-footer"><p>شخصيات المناضلين مستقلة حتى آخر قطرة من دمهم، وهم يسعون لأكثر من الاستقرار والأمن، ويسعون إلى الإبداع والحرية.</p></blockquote>
                    <p>والعديد من أنواع الشخصيات الأخرى قد تجد هذه الصفات لا تقاوم، وإذا وجد المناضلون السبب الذي يثير خيالهم، فسوف يجلبون الطاقة التي توجههم في كثير من الأحيان إلى دائرة الضوء، مما يجعل منهم زعماء ومعلمين لأقرانهم – ولكن هذا ليس دائماً ما يريده المناضلونلمحبولاستلالية. ولأسوأ من ذلك عندما يجدوا أنفسهم يعانون في المهام الإدارية والصيانة الروتينية التي قد ينطوي عليها منصب قيادي. ويعتمد احترام الذات لدى الأشخاص من نوع شخصية المناضل على قدرتهم على التوصل إلى حلول أصلية، وهم بحاجة إلى معرفة أن لديهم حرية الابتكار – يمكن أن يفقدوا صبرهم بسرعة، أو أن يصابوا بالاكتئاب إذا انحصروا في الأدوار المملة.</p>
                    <h2>لا تفقد تلك &quot;الإشارة الصغيرة من الجنون&quot;</h2>
                    <p>لحسن الحظ، يعرف الأفراد من نوع شخصية المناضل كيفية الاسترخاء، وهم قادرون تمامًا على التحول من الشخصية المثالية العاطفية في مكان العمل إلى تلك الروح الحرة خصبة الخيال والمفعمة بالحماس على حلبة الرقص، وغالباً مع فجائية يمكن أن تصدم حتى أقرب أصدقائهم. ولأن لديهم مزيج فريد من الصفات فإن ذلك يعطيهم أيضاً فرصة للارتباط عاطفياً مع الآخرين، ومنحهم بصيرة عزيزة حول ما يحفِّز أصدقائهم وزملائهم. وهم يعتقدون أن كل شخص يستحق أن يأخذ وقته للاعتراف والتعبير عن مشاعره وتعاطفه وقدراته الاجتماعية التي تجعل من المحادثة الطبيعية موضوعاً هاماً.</p>
                    <p>يحتاج نوع شخصية المناضل إلى أن يكون حذرًا – فإذا اعتمدوا كثيرًا على حدسهم، أو افترضوا أو توقعوا الكثير من صديق، فإنهم يمكن أن يخطئوا في قراءة الإشارات ويحبطوا خططاً كان اتباع نهج أكثر وضوح من شأنه أن يجعلها خططًا بسيطة. وهذا النوع من الضغط الاجتماعي هو مصدر القلق الذي يجعل هذا النوع من الشخصية الذي يركز على الانسجام مستيقظة طوال الليل. كما أن شخصيات من النوع المناضل عاطفية وحساسة للغاية، وعندما يدعسوا قدم أحد يحسون بألمه.</p>
                    <p>وينفق المناضلون الكثير من الوقت لاستكشاف العلاقات الاجتماعية، والمشاعر والأفكار قبل أن يتوصلوا للحقائق. ولكن عندما يجدوا أخيرًا مكانهم في العالم، فخيالهم وتعاطفهم وشجاعتهم من المرجح أن تنتج نتائج مذهلة.</p>


                </article>


            </div>

            <div class="navigation-buttons comp">

                <div class="part left">
                </div>
                <div class="part right">


                </div>

            </div>

            <div class="celebrities" v-cloak>

                <h2>مناضلون قد تعرفهم</h2>

                <app-carousel data-chunk="type-chunk"
                              class="celebrities-wrapper"
                              :celebrities="[{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_robert_downey_jr.svg?v=5&quot;,&quot;name&quot;:&quot;Robert Downey, Jr.&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_robin_williams.svg?v=5&quot;,&quot;name&quot;:&quot;Robin Williams&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_quentin_tarantino.svg?v=5&quot;,&quot;name&quot;:&quot;Quentin Tarantino&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_RM_Kim_Nam-joon.svg?v=5&quot;,&quot;name&quot;:&quot;RM (Kim Nam-joon)&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_russell_brand.svg?v=5&quot;,&quot;name&quot;:&quot;Russell Brand&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_kelly_clarkson.svg?v=5&quot;,&quot;name&quot;:&quot;Kelly Clarkson&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_will_smith.svg?v=5&quot;,&quot;name&quot;:&quot;Will Smith&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_meg_ryan.svg?v=5&quot;,&quot;name&quot;:&quot;Meg Ryan&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_ellen_degeneres.svg?v=5&quot;,&quot;name&quot;:&quot;Ellen DeGeneres&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_michael_scott_the_office.svg?v=5&quot;,&quot;name&quot;:&quot;Michael Scott&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;The Office&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_spider_man.svg?v=5&quot;,&quot;name&quot;:&quot;Spider-Man&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Spider-Man&quot;,&quot;article&quot;:&quot;\/articles\/peter-parker-aka-spider-man-the-personality-type-of-a-webslinger&quot;},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_phil_dunphy_modern_family.svg?v=5&quot;,&quot;name&quot;:&quot;Phil Dunphy&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Modern Family&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_piper_chapman_orange_is_the_new_black.svg?v=5&quot;,&quot;name&quot;:&quot;Piper Chapman&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Orange Is the New Black&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_hoban_washburne_firefly.svg?v=5&quot;,&quot;name&quot;:&quot;Hoban Washburne&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Firefly&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_peeta_mellark_the_hunger_games.svg?v=5&quot;,&quot;name&quot;:&quot;Peeta Mellark&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;The Hunger Games&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_jennifer_keller_stargate_atlantis.svg?v=5&quot;,&quot;name&quot;:&quot;Jennifer Keller&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Stargate Atlantis&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_carrie_bradshaw_sex_and_the_city.svg?v=5&quot;,&quot;name&quot;:&quot;Carrie Bradshaw&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Sex and the City&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/diplomats_ENFP_willy_wonka_charlie_and_the_chocolate_factory.svg?v=5&quot;,&quot;name&quot;:&quot;Willy Wonka&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Charlie and the Chocolate Factory&quot;,&quot;article&quot;:null}]"
                              :rtl="true"
                              :international="true"
                              personality-type="ENFP"
                              v-cloak>
                </app-carousel>

            </div>

            <div class="social-cta comp" data-chunk="social-chunk">
                <div class="wrapper">
                    <div class="social-count">
                        <div class="number">15K</div>
                    </div>
                    <div class="social-icons">


                        <share-facebook ga-event="Description" page="شخصية-enfp" record></share-facebook>

                        <share-twitter ga-event="Description" page="شخصية-enfp" text="شخصية “المناضل”" record></share-twitter>

                        <share-pinterest ga-event="Description" page="شخصية-enfp" text="شخصية “المناضل”" record></share-pinterest>

                        <share-whatsapp ga-event="Description" page="شخصية-enfp" text="شخصية “المناضل”" record></share-whatsapp>

                        <share-messenger ga-event="Description" page="شخصية-enfp" record></share-messenger>

                        <share-email ga-event="Description" page="شخصية-enfp" record></share-email>
                    </div>
                </div>
            </div>


        </main>

        <div class="push"></div>

    </div>

    <script src="https://static.neris-assets.com/js/manifest--4b2551.js"></script>
    <script src="https://static.neris-assets.com/js/vendor--c86d28.js"></script>
    <script src="https://static.neris-assets.com/js/app--eba29b.js"></script>

    <script src="https://static.neris-assets.com/js/vendor-polyfills--bf70b4.js"></script>




    <!-- version v1.6.6 -->



    <script>


            ga('send', 'pageview', {
                'dimension11': 'ar'
            });


        gtag('set', 'user_properties', {
            locale    : 'ar',
            authStatus: 'has-results'
        });

    </script>





</body>
</html>

