﻿<!DOCTYPE html>
<html lang="ar">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="csrf-token" content="kjGpoiOoKS3GlRstc7PyxxvoZTXmvxxFp3LV2p3z">
    <meta name="app-version" content="v1.6.6">
    <meta name="app-jscdn" content="https://static.neris-assets.com/">
    <meta name="app-bs-uid" content="0">
    <meta name="api-token" content="">
    <meta name="app-locale" content="ar">


    <meta property="og:site_name" content="16Personalities">
    <meta property="og:url" content="https://www.16personalities.com/ar/%d8%b4%d8%ae%d8%b5%d9%8a%d8%a9-entp">
    <meta property="og:image" content="https://static.neris-assets.com/images/personality-types/headers/fb/entp-personality-type-header.png">


    <title>


        &#x202b;
        شخصية “المحاور” (ENTP)
        &#x202d;16Personalities |
    </title>


    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-16x16.png" sizes="16x16">


    <link rel="stylesheet" href="https://static.neris-assets.com/css/main-core--99ec58.css">
    <link rel="stylesheet" href="/css/fonts--141580.css">


    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome--0d9504.css">

    <link rel="stylesheet" href="https://static.neris-assets.com/css/international--7d8ef5.css">

    <link href="https://static.neris-assets.com/css/large--e595d2.css" rel="stylesheet" media="screen and (min-width: 768px)">
    <link href="https://static.neris-assets.com/css/print--cfa4bb.css" rel="stylesheet" media="print">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic&subset=latin,cyrillic,greek,latin-ext&display=swap' rel='stylesheet' type='text/css'>

    <link rel="canonical" href="https://www.16personalities.com/ar/%D8%B4%D8%AE%D8%B5%D9%8A%D8%A9-entp">





    <script>

    (function(w,d,n){w.jscdn=function(){return(d.head.querySelector('meta[name="'+n+'"]')||{}).content||'/'}}(window,document,'app-jscdn'))

    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

    ga('create', 'UA-27031617-1', 'auto');
    ga('set', 'anonymizeIp', true);

    </script>

    <script async src='https://www.google-analytics.com/analytics.js'></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7YT1C03C8C"></script>

    <script>

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7YT1C03C8C', { 'anonymize_ip': true });

    </script>



    <style>
        [v-cloak] {
            display: none;
        }
    </style>



</head>

<body role="document" class="">

    <div class="main-wrapper int ar" id="main-app">

        <div class="navbar">
            <center>

            </center>
            <nav class="middle-section" style="font-size:20px;color:blue;font-family:'Times New Roman', Times, serif;text-align:center">

                <div> Know about yourself more than you knew</div>
            </nav>




        </div>
        <main class="q-td analyst debater">


            <header class="type-header analyst debater">

                <svg class="background" viewBox="0 0 1920 600" preserveAspectRatio="none"><path class="st0" d="M400 598.9l1520-152.8v164.4H0v-288z"></path><path class="st1" d="M923.4 546.3l996.6-97.4V1.5h-851z"></path></svg>
                <img class="scene" src="https://static.neris-assets.com/images/personality-types/headers/analysts_Debater_ENTP_personality_header.svg">
                <div class="type-info">

                    <h1>
                        شخصية <span>المحاور</span>
                    </h1>

                    <div class="code">ENTP-A / ENTP-T</div>
                </div>

            </header>


            <div class="with-sidebars">


                <article class="main description">

                    <h1>
                        شخصية “المحاور”
                    </h1>

                    <blockquote>
                        <p>اسلُك نهج المفكر المستقل غير الآمن. عرِّض أفكار لأخطار الجدل والنقاش. عبِّر عن أفكارك، فخير لك أن توصَف بشخص &quot;غريب الأطوار&quot; بدلاً من أن تلحق بك وصمة الانصياع والمسايرة. وبالنسبة للقضايا التي تبدو مهمة لك، قِف وعبِّر عن رأيك مهما يكن الثمن.</p>
                        <footer>Thomas J. Watson</footer>
                    </blockquote>
                    <p>نوع شخصية المناقش كمحامي الشيطان في أشد صوره قساوة، يزدهر بتمزيق الأشرطة الرابطة للحجج والمعتقدات كل ممزق والإلقاء بها في مهب الريح ليراها الجميع. وخلافًا للشخصيات الأكثر عزمًا وتصميماً، فالمناقشون لا يسلكون هذا المنهج سعيًا منهم لتحقيق بعض الأغراض الأعمق أو الأهداف الاستراتيجية، بل للمتعة لا أكثر ولا أقل. ولا أحد يحب عملية السجال العقلي أكثر من المناقشين، فهي تمنحهم الفرصة لوضع فطنتهم السريعة التي يمارسونها دون جهد موضع التنفيذ وإعمال قاعدتهم المعرفية المتراكمة، فضلاً عن قدرتهم على الربط بين الأفكار المتباينة لإثبات وجهات نظرهم.</p>
                    <blockquote class="no-footer"><p>ثمة تجاور غريب نراه في المناقشين، ففي حين أنهم صادقون إلى أبعد حد، نجدهم يجادلون بلا كلل من أجل شيء لا يؤمنون فعلاً به، يتبنون رأيًا آخر ليناقشوا حقيقة ما من منظور آخر.</p></blockquote>
                    <p>إن لعب دور محامي الشيطان يساعد الأشخاص الذين يتمتعون بنوع شخصية المناقش ليس فقط في أن يكون لديهم شعور أفضل وفهم أعمق لتفكير الآخرين، بل يمكِّنهم كذلك من فهم الأفكار المعارضة بصورة أفضل – فالمناقشون هم من يناقشونها.</p>
                    <p>وينبغي عدم الخلط بين هذا التكتيك وشكل التفاهم المتبادل الذي تسعى إليه أنواع الشخصية في مجموعة الدور الدبلوماسي – فالمناقشون دائمو السعي للمعرفة، وهل هناك طريقة لتحصيل المعرفة أفضل من تعريض فكرة للنقد والدفاع عنها، من كل منظور، من كل النواحي؟</p>
                    <div class="scene">
                        <img alt="شخصية “المحاور” (ENTP-A / ENTP-T)" src="https://static.neris-assets.com/images/personality-types/scenes/analysts_Debater_ENTP_introduction.svg?v=1">
                    </div>
                    <h2>لا توجد قواعد هنا – نحن نسعى لإنجاز شيء ما!</h2>
                    <p>وبما يجده المناقشون من متعة في لعب دور المهضوم حقه، فإنهم يستمتعون بالمناورة العقلية التي ينطوي عليها التشكيك في طريقة التفكير السادئة، مما يجعل المناقشين لا يمكن الاستغناء عنهم في إعادة صياغة النظم القائمة أو في قلب أوضاع وإعادة تعديل الأمور ودفعها ناحية اتجاهات حكيمة مبتكرة. ومع ذلك، سيشعرون بإحساس المغلوب على أمره وهم يديرون من يوم إلى آخر آليات تنفيذ مقترحاتهم على أرض الواقع. شخصيات المناقشين مولعة بالعصف الذهني والتفكير الأشمل، لكنها ستبذُل الغالي والنفيس لتفادي الانجراف إلى العمل الرتيب&quot;. لا يشكل المناقشون سوى نحو ثلاثة في المئة من السكان، وهي حقيقة واقعة، حيث يُتاح لهم الإتيان بأفكار مبتكرة، ثم التراجع لإفساح المجال لشخصيات أكثر عددًا ويصعب إرضاؤها للتعامل مع الإمدادات والخدمات اللوجستية المتعلقة بالتنفيذ والصيانة.</p>
                    <p>وقد تسبب قدرة المناقشين على الجدل والنقاش الإزعاج والضيق – فبينما تكون هذه القدرة محل تقدير في كثير من الأحيان عندما تبرز عند الحاجة إليها، إلا أنها قد تفقد أثرها بشكل مؤلم عندما يسبب المناقشون المآسي للآخرين، على سبيل المثال باستجواب رئيسهم علنًا في اجتماع ما، أو بالتهوين من قدر كل الأشياء القيمة التي يأتي بها الآخرون. ويزيد الأمر تعقيدًا إذا ما أخذنا في الاعتبار صدِق المناقشين الذي لا ينضب، فهذا النوع من الشخصية لا يتصنع ما ينطق به ولا يأبه كثيرًا بأن يبدو رقيق الشعور أو رحيمًا. وتتعايش الأنواع مشتركة الميول والآراء والأمزجة جيدًا بما فيه الكفاية مع الأشخاص الذين يتمتعون بنوع شخصية المناقش، لكن الأنواع الأكثر حساسية، والمجتمع بشكل عام، غالبًا ما تنفر من الصراع والتضارب، فهي تنزع إلى المشاعر والراحة، بل حتى إلى الكذب الأبيض هروبًا من الحقائق البغيضة والعقلانية الجافة.</p>
                    <p>ويثبِّط ذلك من همم المناقشين، حيث يجدون مزاحهم المشاكس يحرق جسور عديدة، عن غير قصد في كثير من الأحيان، وهم يشقُّون طريقهم عبر عتبات الآخرين لطرح تساؤلات حول معتقداتهم وتنحية مشاعرهم جانبًا. وبمعاملة المناقشين الآخرين كما يحبون أن يُعامَلوا، فهم يطيقون بالكاد أن يُدللوا، ولا يروق لهم المراوغة، خاصةً عند طلب خدمة ما. وينظر المناقشون إلى أنفسهم نظرة احترام وتقدير لما يتعتعون به من رؤى وثقة ومعرفة وحس فكاهي قوي، غير أنهم يكافحون في كثير من الأحيان للاستفادة من هذه الصفات كأساس لإقامة صداقات أقوى وعلاقات عاطفية.</p>
                    <h2>تفوت الفرصة لأنها تشبه العمل الشاق</h2>
                    <p>يقطع المناقشون أشواطًا أطول مقارنةً بالجميع تقريبًا في سعيهم لتسخير قدراتهم الطبيعية – فاستقلالهم الفكري ورؤيتهم الحرة يكونان قيمين للغاية عندما يكونوا في موقع المسؤولية، أو على الأقل عندما ينالوا اهتمام من هم كذلك، غير أن الوصول إلى موقع المسؤولية يتطلب قدرًا من المتابعة ومواصلة العمل وهو أمر يشق على أناس يتسمون بنوع شخصية المناقش.</p>
                    <p>وبمجرد أن تطأ أقدام المناقشين هذه المكانة، عليهم أن يتذكروا أنه حتى تؤتي أفكارهم ثمارها، سيعتمدون دائمًا على الآخرين في تجميع الصورة الكاملة – فإذا كانوا قد استثمروا أكثر أوقاتهم في &quot;حسم&quot; النقاشات بدلاً من بناء إجماع حولها، سيفتقر العديد منهم ببساطة إلى الدعم اللازم للنجاح. بإتقان الأشخاص المتمتعين بهذا النوع من الشخصية دور محامي الشيطان، قد يجدون أن التحدي الفكري الأكثر تعقيدًا وإثمارًا يتمثل في فهم منظور أكثر عاطفةً وشعورًا وإجراء نقاش حول مراعاة مشاعر الآخرين فضلاً عن التوفيق بين المنطق والتقدم.</p>


                </article>


            </div>

            <div class="navigation-buttons comp">

                <div class="part left">
                </div>
                <div class="part right">


                </div>

            </div>

            <div class="celebrities" v-cloak>

                <h2>مناقشون قد تعرفهم</h2>

                <app-carousel data-chunk="type-chunk"
                              class="celebrities-wrapper"
                              :celebrities="[{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_weird_al_yankovic.svg?v=5&quot;,&quot;name&quot;:&quot;Alfred \u201cWeird Al\u201d Yankovic&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_adam_savage.svg?v=5&quot;,&quot;name&quot;:&quot;Adam Savage&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_sarah_silverman.svg?v=5&quot;,&quot;name&quot;:&quot;Sarah Silverman&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_mark_twain.svg?v=5&quot;,&quot;name&quot;:&quot;Mark Twain&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_tom_hanks.svg?v=5&quot;,&quot;name&quot;:&quot;Tom Hanks&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_thomas_edison.svg?v=5&quot;,&quot;name&quot;:&quot;Thomas Edison&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_celine_dion.svg?v=5&quot;,&quot;name&quot;:&quot;C\u00e9line Dion&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_sacha_baron_cohen.svg?v=5&quot;,&quot;name&quot;:&quot;Sacha Baron Cohen&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_captain_jack_sparrow_pirates_of_the_caribbean.svg?v=5&quot;,&quot;name&quot;:&quot;Captain Jack Sparrow&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Pirates of the Caribbean&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_tyrion_lannister_game_of_thrones.svg?v=5&quot;,&quot;name&quot;:&quot;Tyrion Lannister&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Game of Thrones&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_irene_adler_sherlock_holmes.svg?v=5&quot;,&quot;name&quot;:&quot;Irene Adler&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Sherlock Holmes series&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_the_joker_batman_series.svg?v=5&quot;,&quot;name&quot;:&quot;The Joker&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Batman series&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_jim_halpert_the_office.svg?v=5&quot;,&quot;name&quot;:&quot;Jim Halpert&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;The Office&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_doc_brown_back_to_the_future.svg?v=5&quot;,&quot;name&quot;:&quot;Dr. Emmett Brown&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Back to the Future&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_felicity_smoak_arrow.svg?v=5&quot;,&quot;name&quot;:&quot;Felicity Smoak&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Arrow&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_julian_stark_alias.svg?v=5&quot;,&quot;name&quot;:&quot;Julian Sark&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Alias&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTP_mark_watney_the_martian.svg?v=5&quot;,&quot;name&quot;:&quot;Mark Watney&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;The Martian&quot;,&quot;article&quot;:null}]"
                              :rtl="true"
                              :international="true"
                              personality-type="ENTP"
                              v-cloak>
                </app-carousel>

            </div>

            <div class="social-cta comp" data-chunk="social-chunk">
                <div class="wrapper">
                    <div class="social-count">
                        <div class="number">6.5K</div>
                    </div>
                    <div class="social-icons">


                        <share-facebook ga-event="Description" page="شخصية-entp" record></share-facebook>

                        <share-twitter ga-event="Description" page="شخصية-entp" text="شخصية “المحاور”" record></share-twitter>

                        <share-pinterest ga-event="Description" page="شخصية-entp" text="شخصية “المحاور”" record></share-pinterest>

                        <share-whatsapp ga-event="Description" page="شخصية-entp" text="شخصية “المحاور”" record></share-whatsapp>

                        <share-messenger ga-event="Description" page="شخصية-entp" record></share-messenger>

                        <share-email ga-event="Description" page="شخصية-entp" record></share-email>
                    </div>
                </div>
            </div>


        </main>

        <div class="push"></div>

    </div>

    <script src="https://static.neris-assets.com/js/manifest--4b2551.js"></script>
    <script src="https://static.neris-assets.com/js/vendor--c86d28.js"></script>
    <script src="https://static.neris-assets.com/js/app--eba29b.js"></script>

    <script src="https://static.neris-assets.com/js/vendor-polyfills--bf70b4.js"></script>





    <script>


            ga('send', 'pageview', {
                'dimension11': 'ar'
            });


        gtag('set', 'user_properties', {
            locale    : 'ar',
            authStatus: 'has-results'
        });

    </script>





</body>
</html>
