﻿<!DOCTYPE html>
<html lang="ar">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="csrf-token" content="kjGpoiOoKS3GlRstc7PyxxvoZTXmvxxFp3LV2p3z">
    <meta name="app-version" content="v1.6.6">
    <meta name="app-jscdn" content="https://static.neris-assets.com/">
    <meta name="app-bs-uid" content="0">
    <meta name="api-token" content="">
    <meta name="app-locale" content="ar">


    <meta property="og:site_name" content="16Personalities">
    <meta property="og:url" content="https://www.16personalities.com/ar/%d8%b4%d8%ae%d8%b5%d9%8a%d8%a9-entj">
    <meta property="og:image" content="https://static.neris-assets.com/images/personality-types/headers/fb/entj-personality-type-header.png">


    <title>


        &#x202b;
        شخصية “القائد” (ENTJ)
        &#x202d;16Personalities |
    </title>


    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-16x16.png" sizes="16x16">


    <link rel="stylesheet" href="https://static.neris-assets.com/css/main-core--99ec58.css">
    <link rel="stylesheet" href="/css/fonts--141580.css">


    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome--0d9504.css">

    <link rel="stylesheet" href="https://static.neris-assets.com/css/international--7d8ef5.css">

    <link href="https://static.neris-assets.com/css/large--e595d2.css" rel="stylesheet" media="screen and (min-width: 768px)">
    <link href="https://static.neris-assets.com/css/print--cfa4bb.css" rel="stylesheet" media="print">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic&subset=latin,cyrillic,greek,latin-ext&display=swap' rel='stylesheet' type='text/css'>

    <link rel="canonical" href="https://www.16personalities.com/ar/%D8%B4%D8%AE%D8%B5%D9%8A%D8%A9-entj">



    <link rel="alternate" hreflang="en" href="https://www.16personalities.com/entj-personality">



    <script>

    (function(w,d,n){w.jscdn=function(){return(d.head.querySelector('meta[name="'+n+'"]')||{}).content||'/'}}(window,document,'app-jscdn'))

    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

    ga('create', 'UA-27031617-1', 'auto');
    ga('set', 'anonymizeIp', true);

    </script>

    <script async src='https://www.google-analytics.com/analytics.js'></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7YT1C03C8C"></script>

    <script>

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7YT1C03C8C', { 'anonymize_ip': true });

    </script>



    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    <script>
    function toggleMobileMenu(){document.getElementById('mobile-menu').style.display='flex'===document.getElementById('mobile-menu').style.display?'none':'flex'}
    </script>


</head>

<body role="document" class="">

    <div class="main-wrapper int ar" id="main-app">

        <div class="navbar">


            <nav class="middle-section" style="font-size:20px;color:blue;font-family:'Times New Roman', Times, serif;text-align:center">
                <div> Know about yourself more than you knew</div>

            </nav>

            <div class="right-section">

            </div>

            <nav-mobile-toggle class=""></nav-mobile-toggle>
            <nav-mobile id="mobile-menu">
                <div class="menu">



                </div>
            </nav-mobile>

        </div>
        <main class="q-td analyst commander">


            <header class="type-header analyst commander">

                <svg class="background" viewBox="0 0 1920 600" preserveAspectRatio="none"><path class="st0" d="M400 598.9l1520-152.8v164.4H0v-288z"></path><path class="st1" d="M923.4 546.3l996.6-97.4V1.5h-851z"></path></svg>
                <img class="scene" src="https://static.neris-assets.com/images/personality-types/headers/analysts_Commander_ENTJ_personality_header.svg">
                <div class="type-info">

                    <h1>
                        شخصية <span>القائد</span>
                    </h1>

                    <div class="code">ENTJ-A / ENTJ-T</div>
                </div>

            </header>


            <div class="with-sidebars">


                <article class="main description">

                    <h1>
                        شخصية “القائد”
                    </h1>

                    <blockquote>
                        <p>وقتك محدود، فلا تضيعه بأن تعيش حياة شخص آخر. لا تجعل العقيدة تحاصرك — لأنها نتاج تفكير الآخرين. لا تدع ضجيج آراء الآخرين يغرق صوتك الداخلي. والأهم من ذلك، حافظ على شجاعة اتباع قلبك وحدسك. فأنهم بطريقة ما يعرفون مسبقاً ما تريد حقًا أن تحققه. كل شيء آخر أمر ثانوي.</p>
                        <footer>Steve Jobs</footer>
                    </blockquote>
                    <p>هؤلاء الأشخاص قادة بالفطرة. الأشخاص الذين يتمتعون بهذا النوع من الشخصية يجسدون الكاريزما والثقة والسلطة، ويستطيعون توجيه الحشود معًاً وراء هدف مشترك. ولكن خلافًاً لنظرائهم من المركزين على المبادئ، فإن شخصيات القادة تمتاز بمستوى قاسٍ من العقلانية، مستخدمين ما لديهم من دوافع شخصية وتصميم وعقول حادة لتحقيق النهاية التي وضعوها لأنفسهم مهما كانت. وربما من الأحسن أنهم يشكلون فقط ثلاثة في المائة من البشر، خشية أن يطغوا على أنواع الشخصيات الأكثر خجلاً وحساسيةً والتي تشكل جزء كبير من بقية أنواع الشخصيات – حيث يعود الفضل لشخصيات القادة في وجود العديد من الشركات والمؤسسات التي نراها كل يوم كأمر مسلَّم به.</p>
                    <h2>السعادة تكمن في فرحة الإنجاز</h2>
                    <p>أكثر شيء تحبه شخصيات القادة هو التحدي الجيد، كبيرًا كان أم صغيرًا، ويعتقدون اعتقادًا راسخًا بأنهم إذا ما أُعطوا ما يكفي من الوقت والموارد، فيمكنهم تحقيق أي هدف. هذه الخاصية تجعل الشخصيات القادة روَّاد أعمال رائعين، بالإضافة إلى أن قدرتهم على التفكير الاستراتيجي والتركيز على المدى الطويل أثناء تنفيذ كل خطوة من خططهم بعزم ودقة تجعلهم قادة أعمال أقوياء. هذا العزم هو في كثير من الأحيان نبوءة تحقق ذاتها، حيث إن الشخصيات القادة يدفعون أنفسهم لتحقيق أهدافهم من خلال قوة الإرادة في المواقف التي قد يستسلم فيها الآخرون، وتعني مهاراتهم الاجتماعية أنهم قد يدفعوا الآخرين معهم ليحققوا معًا نتائج مذهلة في النهاية.</p>
                    <div class="scene">
                        <img alt="شخصية “القائد” (ENTJ-A / ENTJ-T)" src="https://static.neris-assets.com/images/personality-types/scenes/analysts_Commander_ENTJ_introduction.svg?v=1">
                    </div>
                    <p>على طاولة المفاوضات، سواء كان ذلك في بيئة العمل أو حتى لمجرد شراء سيارة، فإن شخصيات القادة هي المهيمنة التي لا تهدأ ولا ترحم. وهذا ليس لأنهم شخصية غير مبالية أو شريرة في حد ذاتها – بل لأنها أكثر الشخصيات تمتعًاً بالتحدي، بمعركة الدهاء، وسرعة البديهة التي تحتاجها بيئة المفاوضات، وإذا كان الطرف الآخر لا يمكنه مجاراتهم، فهذا ليس سبب كافي لشخصيات القادة ليقنعهم بألا يسعون للنصر النهائي.</p>
                    <blockquote class="no-footer"><p>الفكر الكامن في عقول شخصيات القادة قد يكون شيئا مثل &quot;لا يهمني ما ستقوله عنيما دمت أفعله بكفاءة توصلني لأهدافي&quot;.</p></blockquote>
                    <p>وأكثر الشخصيات التي تحترمها شخصيات القادة هي الشخصيات القادرة على مجابهتهم فكرياً، وعلى العمل بدقة وجودة مماثلة لما هم عليه. شخصيات القادة لديها مهارة معينة في الاعتراف بمواهب الآخرين، وهذا يساعد على تعزيز جهودهم المبذولة لبناء فريق خاص بهم (لأنه ما من أحد، مهما كان كاملاً، يستطيع أن يفعل كل شيء لوحده)، كما يساعد ذلك شخصيات القادة على الحد من استعراض الكثير من صفات الغطرسة والتعالي لديهم. ومع ذلك، فلديهم أيضًا مهارة معينة أخرى في معايرة الآخرين بفشلهم بلا مشاعر بدرجة تقشعر لها الأبدان، وهذا هو السبب الحقيقي للمشاكل التي تواجهها هذه الشخصيات.</p>
                    <h2>حصاد علوم العلاقات الإنسانية</h2>
                    <p>القدرة على التعبير العاطفي ليس من صفات أي من نوع شخصيات المحللين، ولكن لأنهم منفتحون اجتماعيًا، فإن بُعد شخصيات القادة عن عواطفهم هو صفة عامة يمكن لكثير من الناس الشعور به مباشرةً. وخاصة في بيئة العمل، فإن شخصيات القادة سوف تسحق الشخصيات الحساسة لأنهم يعتبرونهم غير فعَّالين وليس لديهم الكفاءة المطلوبة أو كسولين. ووفقًا لوجهة نظر الناس من نوع شخصية القائد، فإن العواطف ضعف في الشخصية، ولذلك فمن السهل أن يصبح لهم أعداء مع هذا النهج – لكنهم سوف يحسنون صنعًاً لو تذكروا أنهم يحتاجون إلى وجود فريق عمل، ليس فقط لتحقيق أهدافهم بل أيضًا لتحقيق المصداقية ومعرفة رأي الناس فيهم، وهو شيء حساس للغاية لشخصيات القادة.</p>
                    <p>شخصيات القادة قوية بحق، ويحاولون أن يكونوا أكبر من الحياة نفسها – وكثيرًا ما هم كذلك. إلا أنهم بحاجة إلى التذكر أن مكانتهم تأتي ليس فقط من أعمالهم الخاصة، ولكن من تصرفات الفريق الداعم لهم، وأنه من المهم الاعتراف بالمساهمات والمواهب والاحتياجات الخاصة بهذا الفريق، وخصوصًاً من وجهة نظر عاطفية. فعلى شخصيات القادة أن يكون لديهم صحة عاطفية جيدة، حتى إذا كان عليهم تبني مبدأ &quot;قلدها إلى أن تتقنها&quot;، جنبًا إلى جنب مع العديد من مواطن القوة لديهم، وسوف تكون المكافأة عظيمة من خلال خلق علاقات صحية مع الناس وتحقيق جميع الانتصارات الصعبة التي يطمحون لها.</p>


                </article>


            </div>

            <div class="navigation-buttons comp">

                <div class="part left">
                </div>
                <div class="part right">


                </div>

            </div>

            <div class="celebrities" v-cloak>

                <h2>قادة قد تعرفهم</h2>

                <app-carousel data-chunk="type-chunk"
                              class="celebrities-wrapper"
                              :celebrities="[{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_steve_jobs.svg?v=5&quot;,&quot;name&quot;:&quot;Steve Jobs&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_gordon_ramsay.svg?v=5&quot;,&quot;name&quot;:&quot;Gordon Ramsay&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_margaret_thatcher.svg?v=5&quot;,&quot;name&quot;:&quot;Margaret Thatcher&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_franklin_d_roosevelt.svg?v=5&quot;,&quot;name&quot;:&quot;Franklin D. Roosevelt&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_jim_carrey.svg?v=5&quot;,&quot;name&quot;:&quot;Jim Carrey&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_whoopi_goldberg.svg?v=5&quot;,&quot;name&quot;:&quot;Whoopi Goldberg&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_harrison_ford.svg?v=5&quot;,&quot;name&quot;:&quot;Harrison Ford&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_malcom_x.svg?v=5&quot;,&quot;name&quot;:&quot;Malcolm X&quot;,&quot;fictional&quot;:0,&quot;movie&quot;:&quot;&quot;,&quot;article&quot;:&quot;\/articles\/malcolm-x-growing-into-a-commander&quot;},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_dr_strange.svg?v=5&quot;,&quot;name&quot;:&quot;Doctor Strange&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Doctor Strange&quot;,&quot;article&quot;:&quot;\/articles\/doctor-strange-the-rational-mystic-avengers-personality-series&quot;},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_tony_soprano_the_sopranos.svg?v=5&quot;,&quot;name&quot;:&quot;Tony Soprano&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;The Sopranos&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_david_palmer_24.svg?v=5&quot;,&quot;name&quot;:&quot;David Palmer&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;24&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_malcolm_merlyn_arrow.svg?v=5&quot;,&quot;name&quot;:&quot;Malcolm Merlyn&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Arrow&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_mary_talbot_downtown_abbey.svg?v=5&quot;,&quot;name&quot;:&quot;Mary Talbot&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Downton Abbey&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_francis_j_underwood_house_of_cards.svg?v=5&quot;,&quot;name&quot;:&quot;Francis J. Underwood&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;House of Cards&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_jacqueline_a_sharp_house_of_card.svg?v=5&quot;,&quot;name&quot;:&quot;Jacqueline A. Sharp&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;House of Cards&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_river_tam_firefly.svg?v=5&quot;,&quot;name&quot;:&quot;River Tam&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;Firefly&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_milady_de_winter_the_three_musketeers.svg?v=5&quot;,&quot;name&quot;:&quot;Milady de Winter&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;The Three Musketeers&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_miranda_priestly_the_devil_wears_prada.svg?v=5&quot;,&quot;name&quot;:&quot;Miranda Priestly&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;The Devil Wears Prada&quot;,&quot;article&quot;:null},{&quot;avatar&quot;:&quot;https:\/\/static.neris-assets.com\/images\/personality-types\/famous\/analysts_ENTJ_raymond_reddington_the_blacklist.svg?v=5&quot;,&quot;name&quot;:&quot;Raymond Reddington&quot;,&quot;fictional&quot;:1,&quot;movie&quot;:&quot;The Blacklist&quot;,&quot;article&quot;:null}]"
                              :rtl="true"
                              :international="true"
                              personality-type="ENTJ"
                              v-cloak>
                </app-carousel>

            </div>

            <div class="social-cta comp" data-chunk="social-chunk">
                <div class="wrapper">
                    <div class="social-count">
                        <div class="number">11K</div>
                    </div>
                    <div class="social-icons">


                        <share-facebook ga-event="Description" page="شخصية-entj" record></share-facebook>

                        <share-twitter ga-event="Description" page="شخصية-entj" text="شخصية “القائد”" record></share-twitter>

                        <share-pinterest ga-event="Description" page="شخصية-entj" text="شخصية “القائد”" record></share-pinterest>

                        <share-whatsapp ga-event="Description" page="شخصية-entj" text="شخصية “القائد”" record></share-whatsapp>

                        <share-messenger ga-event="Description" page="شخصية-entj" record></share-messenger>

                        <share-email ga-event="Description" page="شخصية-entj" record></share-email>
                    </div>
                </div>
            </div>


        </main>

        <div class="push"></div>

    </div>

    <script src="https://static.neris-assets.com/js/manifest--4b2551.js"></script>
    <script src="https://static.neris-assets.com/js/vendor--c86d28.js"></script>
    <script src="https://static.neris-assets.com/js/app--eba29b.js"></script>

    <script src="https://static.neris-assets.com/js/vendor-polyfills--bf70b4.js"></script>




    <script>


            ga('send', 'pageview', {
                'dimension11': 'ar'
            });


        gtag('set', 'user_properties', {
            locale    : 'ar',
            authStatus: 'has-results'
        });

    </script>



</body>
</html>

