﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="csrf-token" content="kjGpoiOoKS3GlRstc7PyxxvoZTXmvxxFp3LV2p3z">
    <meta name="app-version" content="v1.6.6">
    <meta name="app-jscdn" content="https://static.neris-assets.com/">
    <meta name="app-bs-uid" content="0">
    <meta name="api-token" content="">
    <meta name="app-locale" content="ar">


    <meta property="og:site_name" content="16Personalities">
    <meta property="og:url" content="https://www.16personalities.com/ar/%D8%A7%D8%AE%D8%AA%D8%A8%D8%A7%D8%B1-%D8%A7%D9%84%D8%B4%D8%AE%D8%B5%D9%8A%D8%A9">
    <meta property="og:title" content="اختبار شخصية مجاني | 16Personalities">
    <meta property="og:image" content="https://static.neris-assets.com/images/personality-types/headers/fb/logo.png">

    <title>Discover yourself</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">


    <link href="~/assets/css/style.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container-fluid" style="font-family:'Times New Roman', Times, serif">

            <div class="logo">
                <h1 style="font-family:'Times New Roman', Times, serif;text-align:center"><a href="/Home/Index">اعرف نفسك</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <button type="button" class="nav-toggle"><i class="bx bx-menu" style="text-align:left"></i></button>
            <nav class="nav-menu">
                <ul>
                    <li class="active"><a href="/Home/Index">الصفحه الرئسيه</a></li>
                    <li><a href="/Home/Kinds"> انواع الشخصيه</a></li>
                    <li><a href="/Home/AboutUs">معلومات عنا</a></li>
                    <li><a href="/Home/CotactUs">تواصل معنا</a></li>


                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End #header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container" style="font-family:'Times New Roman', Times, serif;text-align:right">
            <h1>مرحبا اعرف عن نفسك </h1>
            <h2>
                .لوسحمت , قم باكمال بياناتك هنا لاستلام كل ما هو جديد لدينا
            </h2>

            <form action="forms/notify.php" method="post" role="form" class="php-email-form">
                <div class="row no-gutters">
                    <div class="col-md-6 form-group pr-md-1">
                        <input type="text" name="name" class="form-control" id="name" placeholder="الاسم" required>
                    </div>
                    <div class="col-md-6 form-group pl-md-1">
                        <input type="email" class="form-control" name="email" id="email" placeholder="البريد الاليكتروني" required>
                    </div>
                </div>

                <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your notification request was sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">عرفني !</button></div>
            </form>
        </div>
    </section><!-- #hero -->
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- ======= Footer ======= -->
    <footer>
            <div class="container-fluid" style="text-align:center;background-color:#2f1708;font-family:'Times New Roman', Times, serif">


                <div class="copyright" style="margin:5px;padding:10px">
                    <div>
                      
                        <div class="container">
                            <div class="copyright"style="color:antiquewhite">
                                &copy; Copyright <strong><span>Discover Yourselef</span></strong>. All Rights Reserved
                            </div>
                            <div class="credits"style="color:antiquewhite">
                                Designed by <a href="#"style="color:chocolate">Kareem Shawky</a>
                            </div>

                        </div>
                                <div class="social-links" style="margin:5px">
                                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                                </div>
                          
                    </div>

                </div>
    </footer>
    <!-- End #footer -->
  
    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>




