﻿

<section id="why-us" class="why-us section-bg">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <img src="~/assets/img/why-us-1.jpg" class="card-img-top" alt="...">
                    <div class="card-icon">
                        <i class="bx bx-book-reader"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">مهمتنا</a></h5>
                        <p class="card-text">
                            يعرف التحليل النفسي بأنه مجموعة من النظريات النفسية والعلاجية
                            الأساليب التي لها أصلها في عمل ونظريات سيغموند فرويد.
                            الافتراض الأساسي للتحليل النفسي هو الاعتقاد بأن جميع الناس يمتلكون
                            الأفكار والمشاعر والرغبات والذكريات اللاواعية.
                            الهدف من علاج التحليل النفسي هو إطلاق العواطف والخبرات المكبوتة ، أي.,
                            اجعل اللاوعي واعيا. هو فقط وجود الشافية (أي الشفاء) تجربة يمكن للشخص
                            تكون ساعدت و"الشفاء".
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <img src="~/assets/img/why-us-2.jpg" class="card-img-top" alt="...">
                    <div class="card-icon">
                        <i class="bx bx-calendar-edit"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">خطتنا</a></h5>
                        <p class="card-text">
                            تذكر أن التحليل النفسي هو علاج وكذلك نظرية. يستخدم التحليل النفسي عادة لعلاج الاكتئاب واضطرابات القلق.

                            في التحليل النفسي (العلاج) ، كان فرويد يستلقي على أريكة للاسترخاء ، وكان يجلس خلفهم
                            تدوين الملاحظات في حين قالوا له عن أحلامهم وذكريات الطفولة.Alysis التحليل النفسي سيكون طويلا
                            العملية ، التي تنطوي على العديد من الجلسات مع المحلل النفسي.نظرا لطبيعة آليات الدفاع و
                            عدم إمكانية الوصول إلى القوى الحتمية العاملة في اللاوعي ، التحليل النفسي
                            في شكله الكلاسيكي هو عملية طويلة غالبا ما تنطوي على 2-5 جلسات في الأسبوع لعدة سنوات.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <img src="~/assets/img/why-us-3.jpg" class="card-img-top" alt="...">
                    <div class="card-icon">
                        <i class="bx bx-landscape"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">رؤيتنا</a></h5>
                        <p class="card-text">
                            تذكر أن التحليل النفسي هو علاج وكذلك نظرية. يستخدم التحليل النفسي عادة لعلاج الاكتئاب واضطرابات القلق.

                            في التحليل النفسي (العلاج) ، كان فرويد يستلقي على أريكة للاسترخاء ، وكان يجلس خلفهم
                            تدوين الملاحظات في حين قالوا له عن أحلامهم وذكريات الطفولة.Alysis التحليل النفسي سيكون طويلا
                            العملية ، التي تنطوي على العديد من الجلسات مع المحلل النفسي.نظرا لطبيعة آليات الدفاع و
                            عدم إمكانية الوصول إلى القوى الحتمية العاملة في اللاوعي ، التحليل النفسي
                            في شكله الكلاسيكي هو عملية طويلة غالبا ما تنطوي على 2-5 جلسات في الأسبوع لعدة سنوات.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
