﻿<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container">

        <div class="section-title">
            <h2>تواصل معانا</h2>
        </div>

        <div class="row justify-content-center">

            <div class="col-lg-3 col-md-5 mb-5 mb-md-0">
                <div class="info">
                    <div class="address">
                        <i class="bx bx-map"></i>
                        <p>Shrouk Cityt<br>Ciro, Egypt </p>
                    </div>

                    <div class="email">
                        <i class="bx bx-envelope"></i>
                        <p>discover-yourself@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bx bx-phone-call"></i>
                        <p>+201000668964</p>
                    </div>
                </div>

                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>

            </div>

            <div class="col-lg-5 col-md-7">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="اسمك" required>
                    </div>
                    <div class="form-group mt-3">
                        <input type="email" class="form-control" name="email" id="email" placeholder="البريد الاليكتروني" required>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="الموضوع" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="الرساله" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Us Section -->
