﻿<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="csrf-token" content="kjGpoiOoKS3GlRstc7PyxxvoZTXmvxxFp3LV2p3z">
    <meta name="app-version" content="v1.6.6">
    <meta name="app-jscdn" content="https://static.neris-assets.com/">
    <meta name="app-bs-uid" content="0">
    <meta name="api-token" content="">
    <meta name="app-locale" content="ar">


    <meta property="og:site_name" content="16Personalities">
    <meta property="og:url" content="https://www.16personalities.com/ar/%D8%A7%D8%AE%D8%AA%D8%A8%D8%A7%D8%B1-%D8%A7%D9%84%D8%B4%D8%AE%D8%B5%D9%8A%D8%A9">
    <meta property="og:title" content="اختبار شخصية مجاني | 16Personalities">
    <meta property="og:image" content="https://static.neris-assets.com/images/personality-types/headers/fb/logo.png">


    <title>


        &#x202b;
        أعرف نفسك
        &#x202d;16Personalities |
    </title>


    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-16x16.png" sizes="16x16">


    <link rel="stylesheet" href="https://static.neris-assets.com/css/main-core--99ec58.css">
    <link rel="stylesheet" href="/css/fonts--141580.css">

    <link rel="stylesheet" href="https://static.neris-assets.com/css/main-noncore--d539a2.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome--0d9504.css">

    <link rel="stylesheet" href="https://static.neris-assets.com/css/international--7d8ef5.css">

    <link href="https://static.neris-assets.com/css/large--e595d2.css" rel="stylesheet" media="screen and (min-width: 768px)">
    <link href="https://static.neris-assets.com/css/print--cfa4bb.css" rel="stylesheet" media="print">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic&subset=latin,cyrillic,greek,latin-ext&display=swap' rel='stylesheet' type='text/css'>

    <link rel="canonical" href="https://www.16personalities.com/ar/%D8%A7%D8%AE%D8%AA%D8%A8%D8%A7%D8%B1-%D8%A7%D9%84%D8%B4%D8%AE%D8%B5%D9%8A%D8%A9">

    <script>

    (function(w,d,n){w.jscdn=function(){return(d.head.querySelector('meta[name="'+n+'"]')||{}).content||'/'}}(window,document,'app-jscdn'))

    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

    ga('create', 'UA-27031617-1', 'auto');
    ga('set', 'anonymizeIp', true);

    </script>

    <script async src='https://www.google-analytics.com/analytics.js'></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7YT1C03C8C"></script>

    <script>

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7YT1C03C8C', { 'anonymize_ip': true });

    </script>



    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    <script>
    function toggleMobileMenu(){document.getElementById('mobile-menu').style.display='flex'===document.getElementById('mobile-menu').style.display?'none':'flex'}
    </script>
</head>

<body role="document" class="">





    <main class="q-pt" id="test-app" style="font-family:'Times New Roman', Times, serif">

        <header style="background-color:#fea762">

            <h1>اكتشف نفسك</h1>


        </header>

        <section class="tips" style="background-color:#fea762">
            <div class="tip-highlight first"></div>
            <div class="tip-highlight second"></div>
            <div class="tip-highlight third"></div>
            <div class="tip">
                <div class="background"></div>
                <img style="border-radius:50%" src="~/assets/img/time.png">
                <div class="text">
                    <div class="title">
                        الاختبار يأخد أقل من 12 دقيقة.
                    </div>
                </div>
            </div>
            <div class="tip">
                <img src="~/assets/img/true.png" style="-moz-border-radius:50%">
                <div class="text">
                    <div class="title">
                        جاوب بصدق (حتى إذا لم تعجبك الإجابة).
                    </div>
                </div>
            </div>
            <div class="tip last">
                <img src="~/assets/img/honest.png" style="-moz-border-radius:50%">
                <div class="text">
                    <div class="title">
                        حاول عدم ترك أي إجابات "محايدة".
                    </div>
                </div>
            </div>
            <div class="shape" style="background-color:#fea762"></div>
            <div class="shadow"></div>
        </section>

        <div id="main-app">
            <div v-cloak>
                <quiz data-chunk="quiz-chunk"
                      v-bind:right2left="true"
                      t-next="التالي"
                      t-see-results="النتائج"
                      t-please-wait="النتائج"
                      t-agree="موافق"
                      t-disagree="غير موافق"
                      :ask-gender="false"
                      :questions="[{&quot;text&quot;:&quot;\u062a\u062c\u062f \u0635\u0639\u0648\u0628\u0629 \u0641\u064a \u062a\u0642\u062f\u064a\u0645 \u0646\u0641\u0633\u0643 \u0644\u0644\u0622\u062e\u0631\u064a\u0646.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062f\u0627\u0626\u0645\u064b\u0627 \u0645\u0627 \u062a\u0646\u063a\u0645\u0633 \u0641\u064a \u0627\u0644\u062a\u0641\u0643\u064a\u0631 \u0644\u062f\u0631\u062c\u0629 \u0623\u0646\u0643 \u062a\u062a\u062c\u0627\u0647\u0644 \u0623\u0648 \u062a\u0646\u0633\u0649 \u0645\u0627 \u062d\u0648\u0644\u0643.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062a\u062d\u0627\u0648\u0644 \u0627\u0644\u0631\u062f \u0639\u0644\u0649 \u0631\u0633\u0627\u0626\u0644 \u0627\u0644\u0628\u0631\u064a\u062f \u0627\u0644\u0625\u0644\u0643\u062a\u0631\u0648\u0646\u064a \u0627\u0644\u062e\u0627\u0635\u0629 \u0628\u0643 \u0641\u064a \u0623\u0642\u0631\u0628 \u0648\u0642\u062a \u0645\u0645\u0643\u0646 \u0648\u0644\u0627 \u062a\u0631\u063a\u0628 \u0641\u064a \u0631\u0624\u064a\u0629 \u0635\u0646\u062f\u0648\u0642 \u0627\u0644\u0648\u0627\u0631\u062f \u0648\u0647\u0648 \u063a\u064a\u0631 \u0645\u0646\u0638\u0645.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062a\u062c\u062f \u0623\u0646\u0647 \u0645\u0646 \u0627\u0644\u0633\u0647\u0644 \u0627\u0644\u0627\u062d\u062a\u0641\u0627\u0638 \u0628\u0627\u0644\u0627\u0633\u062a\u0631\u062e\u0627\u0621 \u0648\u0627\u0644\u062a\u0631\u0643\u064a\u0632 \u062d\u062a\u0649 \u0641\u064a \u0648\u062c\u0648\u062f \u0628\u0639\u0636 \u0627\u0644\u0636\u063a\u0648\u0637.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0644\u0627 \u062a\u0631\u063a\u0628 \u0639\u0627\u062f\u0629 \u0641\u064a \u0628\u062f\u0621 \u0627\u0644\u0645\u062d\u0627\u062f\u062b\u0627\u062a.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0646\u0627\u062f\u0631\u064b\u0627 \u0645\u0627 \u062a\u0641\u0639\u0644 \u0634\u064a\u0621 \u0628\u062f\u0627\u0641\u0639 \u0627\u0644\u0641\u0636\u0648\u0644 \u0627\u0644\u0645\u062d\u0636.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062a\u0634\u0639\u0631 \u0623\u0646\u0643 \u0623\u0641\u0636\u0644 \u0645\u0646 \u0627\u0644\u0622\u062e\u0631\u064a\u0646.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0627\u0644\u062a\u0646\u0638\u064a\u0645 \u0623\u0647\u0645 \u0628\u0627\u0644\u0646\u0633\u0628\u0629 \u0644\u0643 \u0645\u0646 \u0627\u0644\u062a\u0643\u064a\u0641.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0639\u0627\u062f\u0629 \u0645\u0627 \u062a\u0643\u0648\u0646 \u0645\u062a\u062d\u0641\u0632 \u0648\u0646\u0634\u064a\u0637 \u062c\u062f\u064b\u0627.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0627\u0644\u062a\u0623\u0643\u062f \u0645\u0646 \u0639\u062f\u0645 \u062a\u0639\u0631\u0636 \u0623\u064a \u0641\u0631\u062f \u0644\u0644\u0645\u0636\u0627\u064a\u0642\u0629 \u0623\u0647\u0645 \u0639\u0646\u062f\u0643 \u0645\u0646 \u0627\u0644\u0641\u0648\u0632 \u0641\u064a \u0623\u064a \u0646\u0642\u0627\u0634.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u063a\u0627\u0644\u0628\u064b\u0627 \u0645\u0627 \u062a\u0634\u0639\u0631 \u0643\u0645\u0627 \u0644\u0648 \u0623\u0646\u0643 \u0645\u0636\u0637\u0631 \u0625\u0644\u0649 \u062a\u0628\u0631\u064a\u0631 \u0623\u0641\u0639\u0627\u0644\u0643 \u0644\u0644\u0622\u062e\u0631\u064a\u0646.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0628\u064a\u0626\u0629 \u0627\u0644\u0639\u0645\u0644 \u0648\u0627\u0644\u0645\u0646\u0632\u0644 \u0644\u062f\u064a\u0643 \u0645\u0646\u0638\u0645\u0629 \u0625\u0644\u0649 \u062d\u062f \u0645\u0627.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0644\u0627 \u064a\u0639\u0646\u064a\u0643 \u0623\u0646 \u062a\u0643\u0648\u0646 \u0645\u062d\u0637 \u0627\u0646\u062a\u0628\u0627\u0647 \u0627\u0644\u0622\u062e\u0631\u064a\u0646.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062a\u0631\u0649 \u0623\u0646\u0643 \u0628\u0627\u0631\u0639 \u0641\u064a \u0627\u0644\u062c\u0627\u0646\u0628 \u0627\u0644\u0639\u0645\u0644\u064a \u0623\u0643\u062b\u0631 \u0645\u0646 \u0627\u0644\u062c\u0627\u0646\u0628 \u0627\u0644\u0627\u0628\u062a\u0643\u0627\u0631\u064a.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0646\u0627\u062f\u0631\u064b\u0627 \u0645\u0627 \u064a\u0633\u062a\u0637\u064a\u0639 \u0627\u0644\u0623\u0641\u0631\u0627\u062f \u0645\u0636\u0627\u064a\u0642\u062a\u0643.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062e\u0637\u0637 \u0627\u0644\u0633\u0641\u0631 \u0627\u0644\u062e\u0627\u0635\u0629 \u0628\u0643 \u063a\u0627\u0644\u0628\u064b\u0627 \u0645\u0627 \u062a\u0643\u0648\u0646 \u0645\u062f\u0631\u0648\u0633\u0629.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u063a\u0627\u0644\u0628\u0627 \u0645\u0627 \u064a\u0643\u0648\u0646 \u0645\u0646 \u0627\u0644\u0635\u0639\u0628 \u0639\u0644\u064a\u0643 \u062a\u0648\u0635\u064a\u0644 \u0645\u0634\u0627\u0639\u0631 \u0627\u0644\u0623\u0641\u0631\u0627\u062f \u0644\u0644\u0622\u062e\u0631\u064a\u0646.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0645\u0632\u0627\u062c\u0643 \u0633\u0631\u064a\u0639 \u0627\u0644\u062a\u0642\u0644\u0628.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0641\u064a \u0623\u064a \u0645\u0646\u0627\u0642\u0634\u0629\u060c \u0627\u0644\u062d\u0642\u064a\u0642\u0629 \u064a\u062c\u0628 \u0623\u0646 \u062a\u0643\u0648\u0646 \u0623\u0647\u0645 \u0645\u0646 \u0627\u0644\u0623\u0645\u0648\u0631 \u0627\u0644\u062d\u0633\u0627\u0633\u0629 \u0644\u062f\u0649 \u0627\u0644\u0623\u0641\u0631\u0627\u062f.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0646\u0627\u062f\u0631\u064b\u0627 \u0645\u0627 \u062a\u0642\u0644\u0642 \u0628\u062e\u0635\u0648\u0635 \u0645\u062f\u0649 \u062a\u0623\u062b\u064a\u0631 \u0623\u0641\u0639\u0627\u0644\u0643 \u0639\u0644\u0649 \u0627\u0644\u0622\u062e\u0631\u064a\u0646.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0623\u0633\u0644\u0648\u0628 \u0627\u0644\u0639\u0645\u0644 \u0627\u0644\u062e\u0627\u0635 \u0628\u0643 \u0623\u0642\u0631\u0628 \u0625\u0644\u0649 \u0627\u0644\u0637\u0631\u064a\u0642\u0629 \u0627\u0644\u0639\u0634\u0648\u0627\u0626\u064a\u0629 \u0627\u0644\u0645\u0633\u062a\u0646\u0641\u0630\u0629 \u0644\u0644\u0637\u0627\u0642\u0629 \u0645\u0646 \u0627\u0644\u0646\u0647\u062c \u0627\u0644\u0639\u0645\u0644\u064a \u0627\u0644\u0645\u0646\u0638\u0645.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062f\u0627\u0626\u0645\u064b\u0627 \u0645\u0627 \u062a\u0634\u0639\u0631 \u0628\u0627\u0644\u063a\u064a\u0631\u0629 \u0645\u0646 \u0627\u0644\u0622\u062e\u0631\u064a\u0646.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0643\u062a\u0627\u0628 \u0645\u0645\u062a\u0639 \u0623\u0648 \u0644\u0639\u0628\u0629 \u0641\u064a\u062f\u064a\u0648 \u063a\u0627\u0644\u0628\u064b\u0627 \u0645\u0627 \u062a\u0643\u0648\u0646 \u0623\u0641\u0636\u0644 \u0645\u0646 \u0623\u064a \u0645\u0646\u0627\u0633\u0628\u0629 \u0627\u062c\u062a\u0645\u0627\u0639\u064a\u0629.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0627\u0644\u0642\u062f\u0631\u0629 \u0639\u0644\u0649 \u0648\u0636\u0639 \u062e\u0637\u0629 \u0648\u0627\u0644\u0627\u0644\u062a\u0632\u0627\u0645 \u0628\u0647\u0627 \u0623\u0647\u0645 \u062c\u0632\u0621 \u0641\u064a \u0627\u0644\u0645\u0634\u0631\u0648\u0639 \u0627\u0644\u064a\u0648\u0645\u064a.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0646\u0627\u062f\u0631\u064b\u0627 \u0645\u0627 \u062a\u0646\u062c\u0631\u0641 \u0648\u0631\u0627\u0621 \u0627\u0644\u0623\u0648\u0647\u0627\u0645 \u0648\u0627\u0644\u0623\u0641\u0643\u0627\u0631.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u063a\u0627\u0644\u0628\u064b\u0627 \u0645\u0627 \u062a\u0646\u063a\u0645\u0633 \u0641\u064a \u0627\u0644\u062a\u0641\u0643\u064a\u0631 \u0639\u0646\u062f \u0627\u0644\u0633\u064a\u0631 \u0648\u0633\u0637 \u0627\u0644\u0645\u0646\u0627\u0638\u0631 \u0627\u0644\u0637\u0628\u064a\u0639\u064a\u0629.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0639\u0646\u062f\u0645\u0627 \u0644\u0627 \u064a\u0631\u062f \u0634\u062e\u0635 \u0645\u0627 \u0639\u0644\u0649 \u0627\u0644\u0628\u0631\u064a\u062f \u0627\u0644\u0625\u0644\u0643\u062a\u0631\u0648\u0646\u064a \u0627\u0644\u062e\u0627\u0635 \u0628\u0643 \u0633\u0631\u064a\u0639\u064b\u0627\u060c \u064a\u062a\u0633\u0644\u0644 \u0625\u0644\u064a\u0643 \u0627\u0644\u0634\u0639\u0648\u0631 \u0628\u0627\u0644\u0642\u0644\u0642 \u0645\u0639\u062a\u0642\u062f\u064b\u0627 \u0628\u0623\u0646\u0643 \u0642\u0644\u062a \u0634\u064a\u0626\u064b\u0627 \u062e\u0637\u0623.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0625\u0630\u0627 \u0643\u0646\u062a \u0623\u0628\u064b\u0627 \u0647\u0644 \u062a\u0641\u0636\u0644 \u0623\u0646 \u062a\u0631\u0649 \u0637\u0641\u0644\u0643 \u0648\u0647\u0648 \u064a\u0646\u0645\u0648 \u0639\u0637\u0648\u0641\u064b\u0627 \u0623\u0643\u062b\u0631 \u0645\u0646 \u0643\u0648\u0646\u0647 \u0630\u0643\u064a\u064b\u0627.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0644\u0627 \u062a\u0633\u0645\u062d \u0644\u0644\u0622\u062e\u0631\u064a\u0646 \u0628\u0627\u0644\u062a\u0623\u062b\u064a\u0631 \u0639\u0644\u0649 \u0623\u0641\u0639\u0627\u0644\u0643.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0623\u062d\u0644\u0627\u0645\u0643 \u062a\u0631\u0643\u0632 \u0639\u0644\u0649 \u0627\u0644\u0648\u0627\u0642\u0639 \u0648\u0645\u0627 \u064a\u062f\u0648\u0631 \u0628\u0647 \u0645\u0646 \u0623\u062d\u062f\u0627\u062b.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0644\u0627 \u062a\u0633\u062a\u063a\u0631\u0642 \u0648\u0642\u062a\u064b\u0627 \u0637\u0648\u064a\u0644\u0627\u064b \u0644\u0644\u0628\u062f\u0621 \u0641\u064a \u0627\u0644\u0645\u0634\u0627\u0631\u0643\u0629 \u0641\u064a \u0627\u0644\u0623\u0646\u0634\u0637\u0629 \u0627\u0644\u0627\u062c\u062a\u0645\u0627\u0639\u064a\u0629 \u0641\u064a \u0645\u0643\u0627\u0646 \u0627\u0644\u0639\u0645\u0644 \u0627\u0644\u062c\u062f\u064a\u062f.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0623\u0646\u062a \u0623\u0645\u064a\u0644 \u0623\u0643\u062b\u0631 \u0625\u0644\u0649 \u0627\u0644\u0627\u0631\u062a\u062c\u0627\u0644 \u0627\u0644\u062a\u0644\u0642\u0627\u0626\u064a \u0645\u0646 \u0627\u0644\u062a\u062e\u0637\u064a\u0637 \u0627\u0644\u062f\u0642\u064a\u0642.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0645\u0634\u0627\u0639\u0631\u0643 \u062a\u062a\u062d\u0643\u0645 \u0641\u064a\u0643 \u0623\u0643\u062b\u0631 \u0645\u0646 \u062a\u062d\u0643\u0645\u0643 \u0641\u064a\u0647\u0627.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062a\u0634\u0639\u0631 \u0628\u0627\u0644\u0645\u062a\u0639\u0629 \u0639\u0646\u062f \u0627\u0644\u0630\u0647\u0627\u0628 \u0625\u0644\u0649 \u0627\u0644\u0645\u0646\u0627\u0633\u0628\u0627\u062a \u0627\u0644\u0627\u062c\u062a\u0645\u0627\u0639\u064a\u0629 \u0627\u0644\u062a\u064a \u062a\u0634\u0645\u0644 \u0623\u0646\u0634\u0637\u0629 \u062a\u0631\u0641\u064a\u0647\u064a\u0629.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u063a\u0627\u0644\u0628\u064b\u0627 \u0645\u0627 \u062a\u0642\u0636\u064a \u0627\u0644\u0643\u062b\u064a\u0631 \u0645\u0646 \u0627\u0644\u0648\u0642\u062a \u0641\u064a \u0627\u0633\u062a\u0643\u0634\u0627\u0641 \u0627\u0644\u0623\u0641\u0643\u0627\u0631 \u063a\u064a\u0631 \u0627\u0644\u0648\u0627\u0642\u0639\u064a\u0629 \u0648\u063a\u064a\u0631 \u0627\u0644\u0639\u0645\u0644\u064a\u0629 \u0648\u0627\u0644\u0645\u062b\u064a\u0631\u0629 \u0641\u064a \u0646\u0641\u0633 \u0627\u0644\u0648\u0642\u062a.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062a\u0641\u0636\u0644 \u0627\u0644\u0627\u0631\u062a\u062c\u0627\u0644 \u0639\u0644\u0649 \u0627\u0644\u062a\u0641\u0643\u064a\u0631 \u0641\u064a \u0627\u0644\u0648\u0635\u0648\u0644 \u0625\u0644\u0649 \u062e\u0637\u0629 \u0645\u0641\u0635\u0644\u0629.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0623\u0646\u062a \u0634\u062e\u0635 \u0645\u062a\u062d\u0641\u0638 \u0648\u0647\u0627\u062f\u0626 \u0625\u0644\u0649 \u062d\u062f \u0645\u0627.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0625\u0630\u0627 \u0643\u0646\u062a \u0635\u0627\u062d\u0628 \u0639\u0645\u0644\u060c \u0641\u0633\u062a\u062c\u062f \u0623\u0646\u0647 \u0645\u0646 \u0627\u0644\u0635\u0639\u0628 \u062c\u062f\u064b\u0627 \u0641\u0635\u0644 \u0627\u0644\u0645\u0648\u0638\u0641\u064a\u0646 \u0627\u0644\u0645\u062e\u0644\u0635\u064a\u0646 \u0639\u0644\u0649 \u0627\u0644\u0631\u063a\u0645 \u0645\u0646 \u0636\u0639\u0641 \u0623\u062f\u0627\u0626\u0647\u0645.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0643\u062b\u064a\u0631\u064b\u0627 \u0645\u0627 \u062a\u0641\u0643\u0631 \u0641\u064a \u0623\u0633\u0628\u0627\u0628 \u0648\u062c\u0648\u062f \u0627\u0644\u0625\u0646\u0633\u0627\u0646.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0627\u0644\u0645\u0646\u0637\u0642 \u0639\u0627\u062f\u0629 \u0645\u0627 \u064a\u0643\u0648\u0646 \u0623\u0647\u0645 \u0645\u0646 \u0627\u0644\u0645\u0634\u0627\u0639\u0631 \u0639\u0646\u062f\u0645\u0627 \u064a\u062a\u0639\u0644\u0642 \u0627\u0644\u0623\u0645\u0631 \u0628\u0627\u062a\u062e\u0627\u0630 \u0642\u0631\u0627\u0631\u0627\u062a \u0647\u0627\u0645\u0629.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0627\u0644\u062e\u064a\u0627\u0631\u0627\u062a \u0627\u0644\u0645\u0641\u062a\u0648\u062d\u0629 \u0623\u0647\u0645 \u0628\u0627\u0644\u0646\u0633\u0628\u0629 \u0644\u0643 \u0645\u0646 \u0648\u062c\u0648\u062f \u0642\u0627\u0626\u0645\u0629 \u0628\u0627\u0644\u0645\u0647\u0627\u0645.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0625\u0630\u0627 \u0634\u0639\u0631 \u0635\u062f\u064a\u0642\u0643 \u0628\u0627\u0644\u062d\u0632\u0646 \u0628\u0634\u0623\u0646 \u0623\u0645\u0631 \u0645\u0627\u060c \u0641\u0645\u0646 \u0627\u0644\u0645\u0631\u062c\u062d \u0623\u0646 \u062a\u0642\u062f\u0645 \u0627\u0644\u062f\u0639\u0645 \u0627\u0644\u0639\u0627\u0637\u0641\u064a \u0628\u062f\u0644\u0627\u064b \u0645\u0646 \u0627\u0642\u062a\u0631\u0627\u062d \u0637\u0631\u0642 \u0645\u062e\u062a\u0644\u0641\u0629 \u0644\u0644\u062a\u0639\u0627\u0645\u0644 \u0645\u0639 \u0627\u0644\u0645\u0634\u0643\u0644\u0629.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0646\u0627\u062f\u0631\u0627 \u0645\u0627 \u062a\u0634\u0639\u0631 \u0628\u0639\u062f\u0645 \u0627\u0644\u0623\u0645\u0627\u0646.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0644\u0627 \u062a\u062c\u062f \u0623\u064a \u0635\u0639\u0648\u0628\u0629 \u0641\u064a \u0648\u0636\u0639 \u062c\u062f\u0648\u0644 \u0632\u0645\u0646\u064a \u0634\u062e\u0635\u064a \u0648\u0627\u0644\u0627\u0644\u062a\u0632\u0627\u0645 \u0628\u0647.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0627\u0644\u062a\u0632\u0627\u0645 \u0627\u0644\u0635\u0648\u0627\u0628 \u0623\u0647\u0645 \u0645\u0646 \u0627\u0644\u062a\u062d\u0644\u064a \u0628\u0631\u0648\u062d \u0627\u0644\u062a\u0639\u0627\u0648\u0646 \u0639\u0646\u062f\u0645\u0627 \u064a\u062a\u0639\u0644\u0642 \u0627\u0644\u0623\u0645\u0631 \u0628\u0627\u0644\u0639\u0645\u0644 \u0627\u0644\u062c\u0645\u0627\u0639\u064a.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062a\u0631\u0649 \u0623\u0646 \u0648\u062c\u0647\u0627\u062a \u0646\u0638\u0631 \u0627\u0644\u062c\u0645\u064a\u0639 \u064a\u062c\u0628 \u0623\u0646 \u062a\u062d\u062a\u0631\u0645 \u0628\u063a\u0636 \u0627\u0644\u0646\u0638\u0631 \u0639\u0645\u0627 \u0625\u0630\u0627 \u0643\u0627\u0646\u062a \u062a\u062f\u0639\u0645\u0647\u0627 \u0627\u0644\u062d\u0642\u0627\u0626\u0642 \u0623\u0648 \u0644\u0627.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062a\u0634\u0639\u0631 \u0623\u0646\u0643 \u0623\u0643\u062b\u0631 \u0646\u0634\u0627\u0637\u064b\u0627 \u0628\u0639\u062f \u0642\u0636\u0627\u0621 \u0628\u0639\u0636 \u0627\u0644\u0648\u0642\u062a \u0645\u0639 \u0645\u062c\u0645\u0648\u0639\u0629 \u0645\u0646 \u0627\u0644\u0623\u0641\u0631\u0627\u062f.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0643\u062b\u064a\u0631\u064b\u0627 \u0645\u0627 \u062a\u062e\u0637\u0649\u0621 \u0641\u064a \u0648\u0636\u0639 \u0627\u0644\u0623\u0634\u064a\u0627\u0621 \u0627\u0644\u062e\u0627\u0635\u0629 \u0628\u0643.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062a\u0631\u0649 \u0646\u0641\u0633\u0643 \u0645\u0633\u062a\u0642\u0631\u064b\u0627 \u0644\u0644\u063a\u0627\u064a\u0629 \u0641\u064a\u0645\u0627 \u064a\u062a\u0639\u0644\u0642 \u0628\u0627\u0644\u062c\u0627\u0646\u0628 \u0627\u0644\u0639\u0627\u0637\u0641\u064a.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0639\u0642\u0644\u0643 \u062f\u0627\u0626\u0645\u064b\u0627 \u0645\u0634\u0648\u0634 \u0628\u0627\u0644\u062e\u0637\u0637 \u0648\u0627\u0644\u0623\u0641\u0643\u0627\u0631 \u063a\u064a\u0631 \u0627\u0644\u0645\u0633\u062a\u0643\u0634\u0641\u0629.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0644\u0627 \u062a\u0631\u0649 \u0623\u0646\u0643 \u0645\u0646 \u0623\u0635\u062d\u0627\u0628 \u0627\u0644\u0623\u062d\u0644\u0627\u0645.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0639\u0627\u062f\u0629 \u0645\u0627 \u062a\u062c\u062f \u0623\u0646\u0647 \u0645\u0646 \u0627\u0644\u0635\u0639\u0628 \u0627\u0644\u0634\u0639\u0648\u0631 \u0628\u0627\u0644\u0627\u0633\u062a\u0631\u062e\u0627\u0621 \u0639\u0646\u062f \u0627\u0644\u062a\u062d\u062f\u062b \u0623\u0645\u0627\u0645 \u0639\u062f\u062f \u0643\u0628\u064a\u0631 \u0645\u0646 \u0627\u0644\u0623\u0641\u0631\u0627\u062f.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062a\u0639\u062a\u0645\u062f \u0639\u0644\u0649 \u062a\u062c\u0631\u0628\u062a\u0643 \u0623\u0643\u062b\u0631 \u0645\u0645\u0627 \u064a\u062f\u0648\u0631 \u0628\u0645\u062e\u0644\u064a\u062a\u0643 \u0628\u0648\u062c\u0647 \u0639\u0627\u0645.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062a\u0642\u0644\u0642 \u0643\u062b\u064a\u0631\u064b\u0627 \u0628\u062e\u0635\u0648\u0635 \u0645\u0627 \u064a\u0639\u062a\u0642\u062f\u0647 \u0627\u0644\u0622\u062e\u0631\u0648\u0646.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0625\u0630\u0627 \u0643\u0627\u0646\u062a \u0627\u0644\u063a\u0631\u0641\u0629 \u0645\u0644\u064a\u0626\u0629\u060c \u0641\u0625\u0646\u0643 \u062a\u0628\u0642\u0649 \u0628\u0627\u0644\u0642\u0631\u0628 \u0645\u0646 \u0627\u0644\u062c\u062f\u0631\u0627\u0646\u060c \u0648\u062a\u062a\u062c\u0646\u0628 \u0627\u0644\u0628\u0642\u0627\u0621 \u0641\u064a \u0645\u0646\u0637\u0642\u0629 \u0627\u0644\u0645\u0646\u062a\u0635\u0641.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062a\u0645\u064a\u0644 \u0625\u0644\u0649 \u0627\u0644\u062a\u0623\u062c\u064a\u0644 \u062d\u062a\u0649 \u0644\u0627 \u064a\u0648\u062c\u062f \u0648\u0642\u062a \u0643\u0627\u0641 \u0644\u0644\u0642\u064a\u0627\u0645 \u0628\u0643\u0644 \u0634\u064a\u0621.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062a\u0634\u0639\u0631 \u0623\u0646\u0643 \u0642\u0644\u0642 \u062c\u062f\u064b\u0627 \u0641\u064a \u0627\u0644\u0645\u0648\u0627\u0642\u0641 \u0627\u0644\u0639\u0635\u064a\u0628\u0629.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062a\u0631\u0649 \u0623\u0646 \u0645\u062d\u0628\u0629 \u0627\u0644\u0622\u062e\u0631\u064a\u0646 \u0644\u0643 \u0623\u0647\u0645 \u0628\u0643\u062b\u064a\u0631 \u0645\u0646 \u0627\u0644\u062a\u062d\u0644\u064a \u0628\u0627\u0644\u0642\u0648\u0629.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u062f\u0627\u0626\u0645\u064b\u0627 \u0645\u0627 \u062a\u0647\u062a\u0645 \u0628\u0623\u0634\u064a\u0627\u0621 \u063a\u064a\u0631 \u062a\u0642\u0644\u064a\u062f\u064a\u0629 \u0648\u063a\u0627\u0645\u0636\u0629\u060c \u0639\u0644\u0649 \u0633\u0628\u064a\u0644 \u0627\u0644\u0645\u062b\u0627\u0644\u060c \u0628\u0627\u0644\u0643\u062a\u0628\u060c \u0623\u0648 \u0627\u0644\u0641\u0646\u060c \u0623\u0648 \u0627\u0644\u0623\u0641\u0644\u0627\u0645.&quot;,&quot;answer&quot;:null},{&quot;text&quot;:&quot;\u0643\u062b\u064a\u0631\u064b\u0627 \u0645\u0627 \u062a\u0623\u062e\u0630 \u0632\u0645\u0627\u0645 \u0627\u0644\u0645\u0628\u0627\u062f\u0631\u0629 \u0641\u064a \u0627\u0644\u0645\u0648\u0627\u0642\u0641 \u0627\u0644\u0627\u062c\u062a\u0645\u0627\u0639\u064a\u0629.&quot;,&quot;answer&quot;:null}]"
                      endpoint="https://www.16personalities.com/ar/%D8%A7%D9%84%D9%86%D8%AA%D8%A7%D8%A6%D8%AC"></quiz>
            </div>
        </div>

        <div class="social-cta comp" data-chunk="social-chunk">
            <div class="wrapper">

                <div class="social-icons">


                    <share-facebook ga-event="Description" page="personality-test" record></share-facebook>

                    <share-twitter ga-event="Description" page="personality-test" text="اختبار شخصية مجاني" record></share-twitter>

                    <share-pinterest ga-event="Description" page="personality-test" text="اختبار شخصية مجاني" record></share-pinterest>

                    <share-whatsapp ga-event="Description" page="personality-test" text="اختبار شخصية مجاني" record></share-whatsapp>

                    <share-messenger ga-event="Description" page="personality-test" record></share-messenger>

                    <share-email ga-event="Description" page="personality-test" record></share-email>
                </div>
            </div>
        </div>
        <app-errors></app-errors>

    </main>


    <div class="push"></div>



    <script src="https://static.neris-assets.com/js/manifest--4b2551.js"></script>
    <script src="https://static.neris-assets.com/js/vendor--c86d28.js"></script>
    <script src="https://static.neris-assets.com/js/app--eba29b.js"></script>

    <script src="https://static.neris-assets.com/js/vendor-polyfills--bf70b4.js"></script>




</body>
</html>
