﻿<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="csrf-token" content="kjGpoiOoKS3GlRstc7PyxxvoZTXmvxxFp3LV2p3z">
    <meta name="app-version" content="v1.6.6">
    <meta name="app-jscdn" content="https://static.neris-assets.com/">
    <meta name="app-bs-uid" content="0">
    <meta name="api-token" content="">
    <meta name="app-locale" content="ar">


    <title>


        &#x202b;
        أنواع الشخصية
        &#x202d;16Personalities |
    </title>


    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://static.neris-assets.com/images/favicons/favicon-16x16.png" sizes="16x16">


    <link rel="stylesheet" href="https://static.neris-assets.com/css/main-core--99ec58.css">
    <link rel="stylesheet" href="/css/fonts--141580.css">

    <link rel="stylesheet" href="https://static.neris-assets.com/css/main-noncore--d539a2.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome--0d9504.css">

    <link rel="stylesheet" href="https://static.neris-assets.com/css/international--7d8ef5.css">

    <link href="https://static.neris-assets.com/css/large--e595d2.css" rel="stylesheet" media="screen and (min-width: 768px)">
    <link href="https://static.neris-assets.com/css/print--cfa4bb.css" rel="stylesheet" media="print">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic&subset=latin,cyrillic,greek,latin-ext&display=swap' rel='stylesheet' type='text/css'>







    <script>

    (function(w,d,n){w.jscdn=function(){return(d.head.querySelector('meta[name="'+n+'"]')||{}).content||'/'}}(window,document,'app-jscdn'))

    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

    ga('create', 'UA-27031617-1', 'auto');
    ga('set', 'anonymizeIp', true);

    </script>

    <script async src='https://www.google-analytics.com/analytics.js'></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7YT1C03C8C"></script>

    <script>

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7YT1C03C8C', { 'anonymize_ip': true });

    </script>



    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    <script>
    function toggleMobileMenu(){document.getElementById('mobile-menu').style.display='flex'===document.getElementById('mobile-menu').style.display?'none':'flex'}
    </script>
</head>

<body role="document" class="">


    <main class="q-tl" data-chunk="animation-chunk" style="font-family:'Times New Roman', Times, serif">

        <div class="hero">
            <h1>أنواع الشخصية</h1>
        </div>

        <div class="type-group analysts">

            <svg class="background" viewBox="0 0 1920 155" preserveAspectRatio="none"><polygon class="c1" points="1920 823 0 823 0 0 396 101 835 31 1574 149 1920 17 1920 823"></polygon></svg>

            <h2 id="analysts">محللون</h2>

            <div class="types">

                <a class="type" href="/ar/intj">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/intj-architect.svg" v-delayed-animation data-animation="architect">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/architect.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/intj-architect.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="architect"></animation>
                    <h4>المهندس</h4>
                    <h5>INTJ-A / INTJ-T</h5>
                    <div class="snippet">الخياليون والمفكرون الاستراتيجيون، لديهم خطة لكل شيء.</div>
                </a>

                <a class="type" href="/ar/intp">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/intp-logician.svg" v-delayed-animation data-animation="logician">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/logician.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/intp-logician.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="logician"></animation>
                    <h4>المنطقي</h4>
                    <h5>INTP-A / INTP-T</h5>
                    <div class="snippet">المخترعون المبتكرون ذوو عطش جامح للمعرفة.</div>
                </a>

                <a class="type" href="/ar/entj">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/entj-commander.svg" v-delayed-animation data-animation="commander">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/commander.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/entj-commander.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="commander"></animation>
                    <h4>القائد</h4>
                    <h5>ENTJ-A / ENTJ-T</h5>
                    <div class="snippet">القادة الجريؤن والمبتكرون وقويو الإرادة، يجدون دائما الحل للمشاكل - أو يصنعونه.</div>
                </a>

                <a class="type" href="/ar/entp">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/entp-debater.svg" v-delayed-animation data-animation="debater">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/debater.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/entp-debater.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="debater"></animation>
                    <h4>المحاور</h4>
                    <h5>ENTP-A / ENTP-T</h5>
                    <div class="snippet">المفكرين الفضوليون والأذكياء الذين لا يمكنهم مقاومة أي نوع من التحدي الفكري.</div>
                </a>

            </div>

        </div>

        <div class="type-group diplomats">

            <h2 id="diplomats">الدبلوماسيون</h2>

            <div class="types">

                <a class="type" href="#-infj">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/infj-advocate.svg" v-delayed-animation data-animation="advocate">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/advocate.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/infj-advocate.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="advocate"></animation>
                    <h4>المحامي</h4>
                    <h5>INFJ-A / INFJ-T</h5>
                    <div class="snippet">المثاليون الهادئون والغامضون الملهمون لأبعد الحدود والذين لا يكلون أبدًا.</div>
                </a>

                <a class="type" href="/ar/infp">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/infp-mediator.svg" v-delayed-animation data-animation="mediator">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/mediator.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/infp-mediator.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="mediator"></animation>
                    <h4>الوسيط</h4>
                    <h5>INFP-A / INFP-T</h5>
                    <div class="snippet">الأشخاص الشعرية  النبيلة والرقيقة والحريصة دائما على مساعدة الناس.</div>
                </a>

                <a class="type" href="/ar/enfj">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/enfj-protagonist.svg" v-delayed-animation data-animation="protagonist">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/protagonist.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/enfj-protagonist.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="protagonist"></animation>
                    <h4>البطل</h4>
                    <h5>ENFJ-A / ENFJ-T</h5>
                    <div class="snippet">القادة ذو الكاريزما والملهمون، القادرون على إثارة إعجاب مستمعيهم.</div>
                </a>

                <a class="type" href="/ar/enfp">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/enfp-campaigner.svg" v-delayed-animation data-animation="campaigner">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/campaigner.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/enfp-campaigner.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="campaigner"></animation>
                    <h4>المناضل</h4>
                    <h5>ENFP-A / ENFP-T</h5>
                    <div class="snippet">الأرواح الحماسية الخلاقة المؤنسة،  الذين يجدون دائماً سبب ما للإبتسامة.</div>
                </a>

            </div>

        </div>

        <div class="type-group sentinels">

            <h2 id="sentinels">المنظمون</h2>

            <div class="types">

                <a class="type" href="#-istj">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/istj-logistician.svg" v-delayed-animation data-animation="logistician">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/logistician.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/istj-logistician.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="logistician"></animation>
                    <h4>اللوجستي</h4>
                    <h5>ISTJ-A / ISTJ-T</h5>
                    <div class="snippet">الأشخاص العمليون الذي يعمل عقلهم مع الحقائق فقط، الذين لا يمكن الشك في موثوقيتهم.</div>
                </a>

                <a class="type" href="#-isfj">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/isfj-defender.svg" v-delayed-animation data-animation="defender">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/defender.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/isfj-defender.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="defender"></animation>
                    <h4>المدافع</h4>
                    <h5>ISFJ-A / ISFJ-T</h5>
                    <div class="snippet">الحماة المخلصون والدافؤون لأبعد الحدود، دائمي الدفاع عن ذويهم.</div>
                </a>

                <a class="type" href="#-estj">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/estj-executive.svg" v-delayed-animation data-animation="executive">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/executive.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/estj-executive.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="executive"></animation>
                    <h4>التنفيذي</h4>
                    <h5>ESTJ-A / ESTJ-T</h5>
                    <div class="snippet">إداريون ممتازون، لا يضاهون في إدارة الأمور - أو الناس .</div>
                </a>

                <a class="type" href="#-esfj">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/esfj-consul.svg" v-delayed-animation data-animation="consul">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/consul.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/esfj-consul.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="consul"></animation>
                    <h4>القنصل</h4>
                    <h5>ESFJ-A / ESFJ-T</h5>
                    <div class="snippet">أشخاص يهتمون بالآخرين بشكل غير عادي، اجتماعيون وشعبيون، وحريصون على مساعدة الغير دائماً.</div>
                </a>

            </div>

        </div>

        <div class="type-group explorers">

            <h2 id="explorers">المستكشفون</h2>

            <div class="types">

                <a class="type" href="#-istp">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/istp-virtuoso.svg" v-delayed-animation data-animation="virtuoso">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/virtuoso.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/istp-virtuoso.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="virtuoso"></animation>
                    <h4>الفنان المبدع</h4>
                    <h5>ISTP-A / ISTP-T</h5>
                    <div class="snippet">مجربون جريؤون وعمليون، يتقنوا جميع أنواع الأدوات.</div>
                </a>

                <a class="type" href="#-isfp">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/isfp-adventurer.svg" v-delayed-animation data-animation="adventurer">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/adventurer.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/isfp-adventurer.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="adventurer"></animation>
                    <h4>المغامر</h4>
                    <h5>ISFP-A / ISFP-T</h5>
                    <div class="snippet">فنانون مرنون وساحرون، على استعداد دائم لاستكشاف وتجربة شيء جديد.</div>
                </a>

                <a class="type" href="#-estp">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/estp-entrepreneur.svg" v-delayed-animation data-animation="entrepreneur">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/entrepreneur.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/estp-entrepreneur.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="entrepreneur"></animation>
                    <h4>رائد عمل</h4>
                    <h5>ESTP-A / ESTP-T</h5>
                    <div class="snippet">أشخاص أذكياء ونشطاء ومتفهمون جداً، يحبون المخاطر.</div>
                </a>

                <a class="type" href="#-esfp">
                    <img class="image" src="https://static.neris-assets.com/images/personality-types/avatars/esfp-entertainer.svg" v-delayed-animation data-animation="entertainer">
                    <animation animation-file="https://animations.neris-assets.com/avatars/defaults/entertainer.json"
                               image-file="https://static.neris-assets.com/images/personality-types/avatars/esfp-entertainer.svg"
                               delayed
                               trigger="hover"
                               loop="hover"
                               data-animation="entertainer"></animation>
                    <h4>المسلي</h4>
                    <h5>ESFP-A / ESFP-T</h5>
                    <div class="snippet">فنانو ترفيه عفويون ونشطاء وحيويون، والحياة لا يمكن أن تكون مملة حولهم.</div>
                </a>

            </div>

        </div>

    </main>


    <div class="push"></div>



    <script src="https://static.neris-assets.com/js/manifest--4b2551.js"></script>
    <script src="https://static.neris-assets.com/js/vendor--c86d28.js"></script>
    <script src="https://static.neris-assets.com/js/app--eba29b.js"></script>

    <script src="https://static.neris-assets.com/js/vendor-polyfills--bf70b4.js"></script>



    <script>


            ga('send', 'pageview', {
                'dimension11': 'ar'
            });


        gtag('set', 'user_properties', {
            locale    : 'ar',
            authStatus: 'has-results'
        });

    </script>





</body>
</html>
